---
name: David Heckerman
job-title: Advisor
image: assets/img/headshots/dh.jpg
tags:
- scientific
order: 3
layout: member
member: true
twitter: 
linkedin:
contact:
---
<div class="member">
	<div class="grid-flex">
		<div class="col-4">
			<div class="member__image">
				<img src="{{ image }}">
			</div>
		</div>
		<div class="col-8">
			<div class="member-info">
				<div class="member__name">{{ name }}</div>
				<div class="member__title">{{ job-title }}</div>
				<p>Chief Data Scientist at Human Longetivity leading an advanced analytics team. Former Microsoft researcher, leading first team on machine learning. Led Microsoft Genomics team, advancing research in genomics and computational biology and supporting Microsoft cloud services for genomics.</p>
				<div class="member-link">
					{{#if twitter}}<a href="{{ twitter }}" target="_blank">Twitter</a>{{/if}}
					{{#if linkedin}}<a href="{{ linkedin }}" target="_blank">LinkedIn</a>{{/if}}
					{{#if contact}}<a href="matil:{{ contact }}">Contact</a>{{/if}}
				</div>
			</div>
		</div>	
	</div>
</div>