---
name: David Klimstra
job-title: Founder and Chair of Pathology Advisory Board
image: assets/img/headshots/David_Klimstra-Founder_and_Chair_of_Pathology_Advisory_Board.jpg
tags:
- team
order: 2
member: true
layout: member
twitter: 
linkedin:
contact:
---
<div class="member">
	<div class="grid-flex">
		<div class="col-4">
			<div class="member__image">
				<img src="{{ image }}">
			</div>
		</div>
		<div class="col-8">
			<div class="member-info">
				<div class="member__name">{{ name }}</div>
				<div class="member__title">{{ job-title }}</div>
				<p>James Ewing Alumni Chair of the Department of Pathology at Memorial Sloan Kettering Cancer Center. Surgical pathologist with nearly 30 years of broad diagnostic experience. Internationally recognized author and translational researcher, with a dedication to the evaluation and implementation of novel diagnostic technologies in pathology laboratories.</p>
				<div class="member-link">
					{{#if twitter}}<a href="{{ twitter }}" target="_blank">Twitter</a>{{/if}}
					{{#if linkedin}}<a href="{{ linkedin }}" target="_blank">LinkedIn</a>{{/if}}
					{{#if contact}}<a href="matil:{{ contact }}">Contact</a>{{/if}}
				</div>
			</div>
		</div>	
	</div>
</div>