---
name: Deborah Estrin
job-title: Advisor
image: assets/img/headshots/de.jpg
tags:
- scientific
order: 2
member: true
layout: member
twitter: 
linkedin: https://www.linkedin.com/in/deborah-estrin-202b6014/
contact:
---
<div class="member">
	<div class="grid-flex">
		<div class="col-4">
			<div class="member__image">
				<img src="{{ image }}">
			</div>
		</div>
		<div class="col-8">
			<div class="member-info">
				<div class="member__name">{{ name }}</div>
				<div class="member__title">{{ job-title }}</div>
				<p>Associate Dean and Professor of Computer Science at Cornell Tech in New York City and a Professor of Public Health at Weill Cornell Medical College. She is founder of the Health Tech Hub and directs the Small Data Lab at Cornell Tech, which develops new personal data APIs and applications for individuals to harvest the small data traces they generate daily. Estrin is also co-founder of the non-profit startup, Open mHealth.</p>
				<div class="member-link">
					{{#if twitter}}<a href="{{ twitter }}" target="_blank">Twitter</a>{{/if}}
					{{#if linkedin}}<a href="{{ linkedin }}" target="_blank">LinkedIn</a>{{/if}}
					{{#if contact}}<a href="matil:{{ contact }}">Contact</a>{{/if}}
				</div>
			</div>
		</div>	
	</div>
</div>