---
name: Jillian Sue
job-title: Product Manager
image: assets/img/headshots/Jillian_Sue-Product_Manager.jpg
tags:
- team
order: 4
member: true
layout: member
twitter: 
linkedin: https://www.linkedin.com/in/jillian-sue-3032ab91
contact:
---
<div class="member">
	<div class="grid-flex">
		<div class="col-4">
			<div class="member__image">
				<img src="{{ image }}">
			</div>
		</div>
		<div class="col-8">
			<div class="member-info">
				<div class="member__name">{{ name }}</div>
				<div class="member__title">{{ job-title }}</div>
				<p>Has several years of experience in the healthcare industry, including research, pharmaceuticals, and hospital administration, and just completed her MS in Information and Computer Science at Cornell Tech.</p>
				<div class="member-link">
					{{#if twitter}}<a href="{{ twitter }}" target="_blank">Twitter</a>{{/if}}
					{{#if linkedin}}<a href="{{ linkedin }}" target="_blank">LinkedIn</a>{{/if}}
					{{#if contact}}<a href="matil:{{ contact }}">Contact</a>{{/if}}
				</div>
			</div>
		</div>	
	</div>
</div>