---
name: Jim Breyer
job-title: Investor & Board Member
image: assets/img/headshots/jimb.jpg
tags:
- team
order: 6
member: true
layout: member
twitter: 
linkedin: https://www.linkedin.com/in/jim-breyer-361900b2/
contact: 
---
<div class="member">
	<div class="grid-flex">
		<div class="col-4">
			<div class="member__image">
				<img src="{{ image }}">
			</div>
		</div>
		<div class="col-8">
			<div class="member-info">
				<div class="member__name">{{ name }}</div>
				<div class="member__title">{{ job-title }}</div>
				<p>Jim is the Founder and CEO of Breyer Capital and has been an investor in over 40 technology companies that have completed successful public offerings or mergers, including Facebook, Etsy, Legendary, Datalogix and Marvel Entertainment. As a lead investor and/or board member, Jim has assisted teams at over a dozen companies complete IPOs. Over the past several years, Jim has developed a deep personal and investment interest in long-term oriented entrepreneurs and teams working in artificial intelligence.</p>
				<div class="member-link">
					{{#if twitter}}<a href="{{ twitter }}" target="_blank">Twitter</a>{{/if}}
					{{#if linkedin}}<a href="{{ linkedin }}" target="_blank">LinkedIn</a>{{/if}}
					{{#if contact}}<a href="matil:{{ contact }}">Contact</a>{{/if}}
				</div>
			</div>
		</div>	
	</div>
</div>