---
name: José Baselga
job-title: Chair of the SAB
image: assets/img/headshots/jb.jpg
tags:
- scientific
order: 1
member: true
layout: member
twitter: 
linkedin:
contact:
---
<div class="member">
	<div class="grid-flex">
		<div class="col-4">
			<div class="member__image">
				<img src="{{ image }}">
			</div>
		</div>
		<div class="col-8">
			<div class="member-info">
				<div class="member__name">{{ name }}</div>
				<div class="member__title">{{ job-title }}</div>
				<p>Board-certified medical oncologist who works to develop molecularly targeted cancer therapies, with a special focus on breast cancer. He joined Memorial Sloan Kettering as Physician-in-Chief and Chief Medical Officer in 2013 from Massachusetts General Hospital (MGH), where he was Chief of the Division of Hematology/Oncology and Associate Director of the MGH Cancer Center.</p>
				<div class="member-link">
					{{#if twitter}}<a href="{{ twitter }}" target="_blank">Twitter</a>{{/if}}
					{{#if linkedin}}<a href="{{ linkedin }}" target="_blank">LinkedIn</a>{{/if}}
					{{#if contact}}<a href="matil:{{ contact }}">Contact</a>{{/if}}
				</div>
			</div>
		</div>	
	</div>
</div>