---
name: Norman Selby
job-title: Executive Chairman
image: assets/img/headshots/Norman_Selby-Executive_Chairman.jpg
tags:
- team
order: 5
member: true
layout: member
twitter: 
linkedin:
contact:
---
<div class="member">
	<div class="grid-flex">
		<div class="col-4">
			<div class="member__image">
				<img src="{{ image }}">
			</div>
		</div>
		<div class="col-8">
			<div class="member-info">
				<div class="member__name">{{ name }}</div>
				<div class="member__title">{{ job-title }}</div>
				<p>35 years in healthcare industry. Former Senior Partner at McKinsey And Company. Former CEO, TransForm Pharmaceuticals. Currently on the Board of Trustees, and Executive Committee, of MSK.</p>
				<div class="member-link">
					{{#if twitter}}<a href="{{ twitter }}" target="_blank">Twitter</a>{{/if}}
					{{#if linkedin}}<a href="{{ linkedin }}" target="_blank">LinkedIn</a>{{/if}}
					{{#if contact}}<a href="matil:{{ contact }}">Contact</a>{{/if}}
				</div>
			</div>
		</div>	
	</div>
</div>