---
name: Peter Schüffler
job-title: Senior ML Scientist
image: assets/img/headshots/Peter_Schuffler-Lead_Machine_Learning_Scientist.jpg
tags:
- team
order: 3
member: true
layout: member
twitter: 
linkedin: https://www.linkedin.com/in/peter-sch%C3%BCffler-4b6a77a4/
contact:
---
<div class="member">
	<div class="grid-flex">
		<div class="col-4">
			<div class="member__image">
				<img src="{{ image }}">
			</div>
		</div>
		<div class="col-8">
			<div class="member-info">
				<div class="member__name">{{ name }}</div>
				<div class="member__title">{{ job-title }}</div>
				<p>Senior Computational Pathologist, recieved his PhD of Science at the ETH Zurich, Switzerland. Over ten years of experience and over 30 publications in Machine Learning, Medical Image Data Analysis in Pathology and Radiology, Biostatistics, and Software Development from numerous translational projects.</p>
				<div class="member-link">
					{{#if twitter}}<a href="{{ twitter }}" target="_blank">Twitter</a>{{/if}}
					{{#if linkedin}}<a href="{{ linkedin }}" target="_blank">LinkedIn</a>{{/if}}
					{{#if contact}}<a href="matil:{{ contact }}">Contact</a>{{/if}}
				</div>
			</div>
		</div>	
	</div>
</div>