---
name: Ran Godrich
job-title: Research Engineer
image: assets/img/headshots/Ran_Godrich-Research_Engineer.jpg
tags:
- team
order: 3
layout: member
member: true
twitter: 
linkedin:
contact:
---
<div class="member">
	<div class="grid-flex">
		<div class="col-4">
			<div class="member__image">
				<img src="{{ image }}">
			</div>
		</div>
		<div class="col-8">
			<div class="member-info">
				<div class="member__name">{{ name }}</div>
				<div class="member__title">{{ job-title }}</div>
				<p>Developed machine learning and computer vision systems for analysis of biomedical data at Weill Cornell Medical College and recently completed MS in Information and Computer Science at Cornell Tech.</p>
				<div class="member-link">
					{{#if twitter}}<a href="{{ twitter }}" target="_blank">Twitter</a>{{/if}}
					{{#if linkedin}}<a href="{{ linkedin }}" target="_blank">LinkedIn</a>{{/if}}
					{{#if contact}}<a href="matil:{{ contact }}">Contact</a>{{/if}}
				</div>
			</div>
		</div>	
	</div>
</div>