---
name: Thomas Fuchs
job-title: Founder & CSO
image: assets/img/headshots/Thomas_Fuchs-Founder_and_CSO.jpg
tags:
- team
order: 1
layout: member
twitter: https://twitter.com/ThomasFuchsAI
linkedin: https://www.linkedin.com/in/fuchsthomas/
contact:
---
<div class="member">
	<div class="grid-flex">
		<div class="col-4">
			<div class="member__image">
				<img src="{{ image }}">
			</div>
		</div>
		<div class="col-8">
			<div class="member-info">
				<div class="member__name">{{ name }}</div>
				<div class="member__title">{{ job-title }}</div>
				<p>Director of Computational Pathology Lab at Memorial Sloan Kettering Cancer Center and professor for Machine Learning at Weill Cornell. Former research technologist at NASA's Jet Propulsion Laboratory in Pasadena. Postdoctoral research focus in computer vision, medical imaging at Caltech. PhD in Machine Learning from ETH Zurich.</p>
				<div class="member-link">
					{{#if twitter}}<a href="{{ twitter }}" target="_blank">Twitter</a>{{/if}}
					{{#if linkedin}}<a href="{{ linkedin }}" target="_blank">LinkedIn</a>{{/if}}
					{{#if contact}}<a href="matil:{{ contact }}">Contact</a>{{/if}}
				</div>
			</div>
		</div>	
	</div>
</div>