---
name: Victor Reuter
job-title: Advisor
image: assets/img/headshots/vr.jpg
tags:
- scientific
order: 5
member: true
twitter: 
linkedin:
contact:
---
<div class="member">
	<div class="grid-flex">
		<div class="col-4">
			<div class="member__image">
				<img src="{{ image }}">
			</div>
		</div>
		<div class="col-8">
			<div class="member-info">
				<div class="member__name">{{ name }}</div>
				<div class="member__title">{{ job-title }}</div>
				<p>Vice Chair of Dept. of Pathology, Director of Genitourinary Pathology and Pathology Core Facility at Memorial Sloan Kettering Cancer Center. Co-Director of NIH/NCI sponsored SPORE in Prostate Cancer Pathology Core and Cancer Center Support Grant. Director of Path Tissue Research Utilization Committee, GU Path Research Lab, Immunohistochemistry Research Core Lab.</p>
				<div class="member-link">
					{{#if twitter}}<a href="{{ twitter }}" target="_blank">Twitter</a>{{/if}}
					{{#if linkedin}}<a href="{{ linkedin }}" target="_blank">LinkedIn</a>{{/if}}
					{{#if contact}}<a href="matil:{{ contact }}">Contact</a>{{/if}}
				</div>
			</div>
		</div>	
	</div>
</div>