.block-wide-media {
	.c-ratio-sizer {
		@include respond($xlg) {
			padding-bottom: 50%;
			img,
			video {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}

.about-page {
	.block-wide-media {
		+ section {
			> .container {
				> hr {
					display: none;
				}
			}
		}
	}
}

.block-clients {
	.clients-list {
		@include respond($sm) {
			column-gap: $gutter;
			column-fill: balance;
			columns: 2;
		}
		@include respond($lg) {
			columns: 3;
		}
		@include respond($xlg) {
			columns: 4;
		}
		li {
			break-inside: avoid;
		}
		.p {
			a {
				border-color: transparent;
				&:hover {
					border-color: currentcolor;
				}
			}
		}
	}
}

ol.beliefs-list {
	li {
		padding-left: 1.75rem;
		position: relative;
		@include respond($lg) {
			padding-left: 0;
		}
		&:before {
			font-size: $md-p-font-size;
			position: absolute;
			content: counter(list-counter, decimal-leading-zero);
			counter-increment: list-counter;
			left: 0;
			line-height: 1.7em;
			@include respond($lg) {
				left: auto;
				right: 100%;
				text-align: right;
				padding-right: .75rem;
			}
		}
	}
}

.block-intro-text {
	.max-text-width {
		max-width: 46em;
	}
	.two_col {
		@include respond($md) {
			column-gap: $gutter;
			column-fill: balance;
			columns: 2;
		}
	}
}

.block-blockquote {
	.max-text-width {
		max-width: 56em;
	}
}

.block-1-2-col {
	.col-8 {
		.set-ratio {
			@include respond($md) {
				padding-bottom: 66.666%;
			}
		}
	}
	.set-ratio {
		height: auto;
		.object-cover {
			@include respond-smaller-than($md) {
				position: relative;
			}
		}
		@include respond($md) {
			height: 100%;
		}
	}
}