#sb_instagram a {
	transition: opacity $md-speed $ease;
}

#sbi_images {
	padding: 0 !important;
	margin-bottom: -$gutter;
}

#sb_instagram .sbi_photo {
	height: auto !important;
  padding: 50%;
}

#sbi_load {
	height: 0 !important;
}

.sbi_follow_btn {
	margin: 0 !important;
	a {
		color: $text-color !important;
		margin: 0 !important;
		background: transparent !important;
		border-bottom: 2px solid $main-color !important;
		border-radius: 0 !important;
		height: auto !important;
		font-size: $p-font-size !important;
		padding: 0 !important;
		font-weight: $medium;
		text-indent: -999px;
		overflow: hidden;
		position: absolute;
		width: 4.4em;
		top: .85em;
    right: -2px;
    transition: border $md-speed $ease !important;
    &:hover {
    	border-bottom: 2px solid darken($main-color, 10%) !important;
    }
    @include respond($md) {
    	width: 4.4em;
			top: 1.45em;
	  }
		&:after {
			content: 'Follow us';
			text-indent: 0;
			position: absolute;
			top: 0;
			left: 0;
		}
		svg {
			display: none;
		}
	}
}

#sb_instagram #sbi_images .sbi_item.sbi_type_image,
#sb_instagram #sbi_images .sbi_item.sbi_type_carousel {
	padding: 0 $gutter/2 $gutter !important;
}


#sb_instagram.sbi_col_4 #sbi_images .sbi_item.sbi_type_image,
#sb_instagram.sbi_col_4 #sbi_images .sbi_item.sbi_type_carousel
#sb_instagram.sbi_col_4.sbi_disable_mobile #sbi_images .sbi_item.sbi_type_image,
#sb_instagram.sbi_col_4.sbi_disable_mobile #sbi_images .sbi_item.sbi_type_carousel {
	@include respond-smaller-than($md) {
		width: 50% !important;
	}
}

.sbi_item.sbi_type_carousel {
	.sbi_photo_wrap {
		svg.sbi_lightbox_carousel_icon {
			display: none !important;
		}
	}
}