.lw-intro-area {
	.top-placeholder {
  	min-height: $margin;
    @include respond($xlg) {
      // height: 15vh;
    }
  }
  .h1,
  .h2 {
    p {
      margin-bottom: .75em;
    }
  }
	> .container {
    // min-height: 50vh;
    // display: flex;
    // flex-direction: column;
    // align-items: flex-start;
    // justify-content: flex-end;
	}
	.max-text-width {
    max-width: 43.75rem;
	}
  &.wide {
    .max-text-width {
      max-width: 58.5rem;
    }
  }
}