.project-item {
	.thumb {
		&:hover {
			opacity: 1;
		}
	}
	.coming-soon {
		&:hover {
			img {
				opacity: .2;
			}
		}
	}
	.thumb {
		&:hover {
			.text-hover {
				opacity: 1;
				transform: none;
			}
		}
		.text-hover {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			color: $white;
			padding: 5vw;
			z-index: 2;
			opacity: 0;
			transform: translate3d(0, 10px, 0);	
			transition: opacity $md-speed $ease, transform $md-speed $ease;
			@include all-caps();
			@include respond($lg) {
				padding: 2vw;
			}
			@include respond($huge) {
				padding: 2rem;
			}
		}
	}
	a.thumb {
		.c-ratio-sizer {
			&:after {
				content: '';
				display: block;
				background: #000;
				opacity: .5;
				position: absolute;
				z-index: 1;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				opacity: 0;
				transition: opacity $md-speed $ease;
			}
		}
		&:hover {
			.c-ratio-sizer {
				&:after {
					opacity: .2;
				}
			}
			.project-title {
				border-bottom: 1px solid rgba($text-color, .25);
			}
		}
	}
	&.small-thumb {
		.text-hover {
			display: none;
		}
		.project-title {
			margin-bottom: .25rem;
			font-size: $lg-p-font-size;
			@include respond($lg) {
				font-size: $lg-p-font-size;
			}
			@include respond($lg) {
				margin-bottom: .75rem;
			}
		}
		.c-ratio-sizer {
			padding-bottom: 66.666%;
			height: auto;
			max-height: auto;
			@include respond($lg) {
				padding-bottom: 125%;
			}
		}
		.text-thumb {
			font-size: 6.5vw;
			@include respond($sm) {
				font-size: 3vw;
			}
			@include respond($lg) {
				font-size: 2vw;
			}
			@include respond($huge) {
				font-size: 32px;
			}
		}
	}
	.text-thumb {
		background: $black;
		color: $bg-color;
		height: 100%;
		width: 100%;
		padding: 5vw;
		font-style: italic;
		font-family: $h3-font-family;
		line-height: $h3-line-height;
		overflow: hidden;
		position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
		// letter-spacing: $h3-letter-spacing;
		font-size: 6.5vw;
		@include respond($lg) {
			padding: 2rem;
			font-size: 2.5vw;
		}
		@include respond($huge) {
			font-size: 37.5px;
		}
	}
	.col.dash {
		hr {
			margin-top: 6px;
			margin-bottom: 6px;
		}
	}
	&.col-4 {}
	&.col-8 {}
	&.featured-project {
		hr {
			margin-bottom: 2.15rem;
		}
		.c-ratio-sizer {
			height: 87vw;
			@include respond($lg) {
				height: 87vw * .666;
			}
			@include respond($lg) {
				height: 33.333vw;
				max-height: 560px;
			}
		}
		.project-title {
			margin-bottom: .25rem;
			@include respond($lg) {
				font-size: 2.25rem;
			}
			@include respond($lg) {
				margin-bottom: .75rem;
			}
		}
		.project-desc {
			padding-top: .3rem;
			+ .underlined-link {
				margin-top: 1rem;
				@include respond($lg) {
					margin-top: 1.5rem;
				}
			}
		}
	}
	.project-title {
		display: inline-block;
		border-bottom: 1px solid transparent;
		transition: border $md-speed $ease;
		padding-top: .3rem;
	}
	.c-ratio-sizer {
		height: 87vw * .666;
		position: relative;
		@include respond($lg) {
			height: 33.333vw;
			max-height: 560px;
		}
		img {
			transition: opacity $md-speed $ease;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
	    height: 100%;
			object-fit: cover;
		}
	}
}

.more-work {
	.offset {
		// transform: translateY(-4px);
	}
}