.modal-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 10;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	visibility: hidden;
	opacity: 0;
	transition: opacity $md-speed $ease, visibility $md-speed $ease;
	@include respond($md) {
		padding-top: $gutter;
		padding-bottom: $gutter;
	}
	.overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
		background: rgba($text-color, .1);
	}
	&.open {
		opacity: 1;
		visibility: visible;
	}
	.modal {
		position: relative;
		z-index: 2;
		background: $bg-color;
		max-width: 50rem;
		padding: $mobile-margin;
		margin: auto;
		display: none;
		opacity: 0;
		transition: opacity $md-speed $ease, transform $md-speed $ease;
		&.visible {
			opacity: 1;
			display: block;
		}
		@include respond($md) {
			width: 100% - $mobile-margin * 2;
			padding: $gutter;
		}
		@include respond($lg) {
			padding: $gutter * 1.5;
		}
		.close-modal {
			transition: color $md-speed $ease, background $md-speed $ease;
			cursor: pointer;
			padding: 15px;
			border-radius: 50%;
			background: $text-color;
			box-shadow: 0 5px 15px rgba($text-color, .2);
			position: fixed;
			bottom: 15px;
			left: 50%;
			color: $white;
			margin-left: -27px;
			&:hover {
				color: $white;
				background: $main-color;
			}
			@include respond($sm) {
				position: absolute;
				top: 0;
				right: 0;
				left: auto;
				bottom: auto;
				box-shadow: none;
				padding: 10px;
				background: transparent;
				border-radius: 0;
				color: $light-text-color;
				&:hover {
					color: $text-color;
					background: transparent;
				}
			}
		}
		&.team-modal {
			.col {
				&.label {
					width: 80px;
				}
				&.right {
					@include respond($md) {
						width: 66.666%;
					}
					@include respond($lg) {
						width: 50%;
					}
				}
				&.left {
					img {
						width: 100%;
					}
					@include respond($md) {
						width: 33.333%;
					}
					@include respond($lg) {
						width: 50%;
					}
				}
			}
		}
	}
}