.top-area {
	padding-top: 8rem;
	padding-bottom: $mobile-margin;
	position: relative;
	min-height: 70vh;
  display: flex;
  align-items: flex-end;
  > div {
  	width: 100%;
  }
  &.light-bg {
  	+ [class^=block-].light-bg:not(.block-wide-media) {
  		padding-top: 0;
  	}
  }
	@include respond($lg) {
		padding-top: 13rem;
		padding-bottom: $margin;
	}
	.container {
		z-index: 3;
	}
	.max-text-width {
		max-width: 55rem;
	}
	&.photo-bg,
	&.video-bg {
		.c-title {
			color: $white;
			text-shadow: 0 0 1em rgba(#000, .2);
		}
		&:after {
			content: '';
			display: block;
			height: 100%;
			width: 75%;
			top: 0;
			left: 0;
			background: linear-gradient(to right, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%);
			position: absolute;
			z-index: 2;
		}
	}
	.c-title {
		h1 {
			max-width: 20.5em;
			max-width: 55rem;
		}
	}
}