.endless-loader {
	height: 8px;
	width: 100%;
	z-index: 1;
	transition: transform $md-speed $ease;
	&.hidden {
		transform: translate3d(0, 100%, 0);
	}
	span {
		transition: transform 1s $ease;
		background: $black;
		height: 100%;
		display: block;
		transform: scalex(0);
		transform-origin: left top
	}
}