footer {
	border-top: 1px solid tint($text-color, 20%);
	.footer-title {
		font-family: $secondary-font;
		font-weight: $bold;
	}
	&.dark-bg hr,
	hr {
		border-color: currentcolor;
		&.short {
			width: 20px;
		}
	}
	.logo-col {
		width: 100px;
		svg {
			height: 20px;
			width: 54px;
		}
	}
	.mc_form_inside {
		position: relative;
		display: flex;
    flex-direction: column;
    #mc_message {
    	order: 2;
    }
    .mc_merge_var {
    	order: 1;
    }
		@include respond($lg) {
			margin-top: -.2rem;
		}
		input[type=text],
		input[type=email],
		input[type=phone] {
			padding-top: 0;
			height: $input-small-height;
			margin-bottom: .75rem;
		}
		.mc_var_label {
			display: none;
		}
		.mc_signup_submit {
			position: absolute;
			top: -1px;
	    right: 0;
	    opacity: .6;
	    transition: opacity $md-speed $ease;
	    &:hover {
	    	opacity: 1;
	    }
	    &:after {
				@include material-icons();
				content: 'chevron_right';
				text-indent: 0;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				pointer-events: hover;
				z-index: 1;
			}
			input[type=submit].button {
				padding: 0;
				text-indent: -300px;
				overflow: hidden;
				min-width: 0;
				padding: 0;
				position: relative;
				z-index: 2;
				width: $input-small-height;
				height: $input-small-height;
				opacity: 0;
			}
		}
	}
}