header {
	padding: $mobile-margin * .75 0 0 0;
	@include respond($lg) {
		padding: $margin * .75 0 0 0;
	}
	nav {
		li {
			&:last-child {
				margin-right: -$gutter-tight * .65;
				@include respond($md) {
					margin-right: -$gutter-tight;
				}
				@include respond($md) {
					margin-right: -$gutter/2;
				}
			}
		}
		a {
			font-family: $secondary-font;
			position: relative;
			padding: 0 $gutter-tight * .65;
			@include respond($sm) {
				padding: 0 $gutter-tight;
			}
			@include respond($md) {
				padding: 0 $gutter/2;
			}
			&.active,
			&:hover {
				&:after {
					opacity: 1;
					visibility: visible;
					transform: none;
				}
			}
			&:after {
				content: '';
				display: block;
				background: currentcolor;
				position: absolute;
				top: calc(100% + 4px);
				left: 50%;
				width: 20px;
				margin-left: -10px;
				height: 1px;
				transition: transform $md-speed $ease, opacity $md-speed $ease;
				transform: translate3d(0, 6px, 0);
				opacity: 0;
			}
		}
	}
	.logo {
		display: block;
		margin-top: 4px;
		svg {
			overflow: visible;
			.logo-e {
				transition: transform $md-speed $ease;
			}
		}
		&:hover {
			svg {
				.logo-e {
					transform: translate3d(0, -12px, 0);
				}
			}
		}
	}
	.c-inner-header {
		height: 70px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}