.about{
	.paige-history{
		padding: em(100) 0;
		.col-6{
			position: relative;
		}
		.timeline{
			&.clip-me{

				background: white;
				position: absolute;
				// left:1em;
				top: 0;
				clip-path: inset(0 0 0 0);
				@include respond-min($md)
				{
					padding-right: 1em;
				}
				.timeline__event{
					p{
						color: #9dafc1;
					}
					&:before{
						border-color: #D2DCE3;
					}
					.event-year{
						color: #183c69;
						&:before{
							background-color: #D2DCE3;
							width: 10px;
							height: 10px;
						}
					}
				}
			}
			position: relative;
			.timeline__event{
				position: relative;
				padding-left: 22px;
				p{
					color: $dark-blue;
				}
				&:before{
					content: '';
					left: 4px;
					display: block;
					position: absolute;
					height: 100%;
					top: 10px;
					border-left: 2px solid $purple;
				}
				&:last-child{
					&:before{
						display: none;
					}
				}
				padding-bottom: em(40);
				.event-year{
					position: relative;
					font-family: 'PF DinDisplay Pro';
					color: $purple;
					font-size: em(24);
					font-weight: 500;
					line-height: 1.3em;
					margin-bottom: .5em;
					&:before{
						content: '';
						width: 9.8px;
						height: 9.8px;
						display: block;
						position: absolute;
						left: -22px;
						top: 10px;
						background-color: $purple;
						border-radius: 50%;
					}
				}
			}
		}
	}
	.our-goals{
		.goal__num {
			color: white;
			font-family: 'PFDin 6',sans-serif;
		}

	}
	.our-tech{
		.our-tech__image{
			// background: $light-grey;
			margin: 0 -6.35%;
		}
		.our-tech__content{
			.md{
				color: $dark-blue;
			}
			p:not(.md){
				strong{
					color: $dark-blue;
					font-weight: normal!important;
				}
			}
		}
	}
	.our-product{
		background: #F7F9FA;
		.md{
			margin-bottom: 1em;
			color: $dark-blue;
		}
		figure{
			.img-wrap{
				margin-right: -$margin;
				@include respond(1600) {
					margin-right: 0;
				}
				img {
					box-shadow: 0 1rem 1.5rem rgba($text-color, .15);
				}
			}
			figcaption {
				padding-left: 1em;
				border-left: 4px solid transparent;
		    -webkit-border-image: 
		      -webkit-linear-gradient(top, #8821FF 7%, #1085CF 88%);
		    -o-border-image:
		      -o-linear-gradient(top, #8821FF 7%, #1085CF 88%);
		    border-image:
		      linear-gradient(to bottom, #8821FF 7%, #1085CF 88%);
		    border-image-slice:1;
				p{					
					
				}
			}
		}
	}
	.selected-publications{
		
		.button--gradient{
			max-width: none;
			width: auto;
		}
	}
}

.publications{
	.publication{
		border-top: 1px solid rgba(#698BA3, .2);
		.publication__title{
			font-family: 'PF DinDisplay Pro';
			font-size: em(24);
			line-height: 1.2em;
			margin-bottom: .5em;
			color: $dark-blue;
		}
		.publication__authors{
			font-size: em(16);
		}
		.publication__description{
			p {
				font-size: $sm-p-font-size;
			}
		}
		.publication__links{
			ul {
				line-height: 1em;
			}
			li {
				display: inline-block;
				vertical-align: top;
				width: 100%;
				margin: 0;
				padding: 0;
				line-height: 1em;
			}
			a{
				display: inline-block;
				color: $purple;
				font-weight: 500;
				font-size: $sm-p-font-size;
				line-height: $base-line-height;
				border-bottom: 1px solid transparent;
				&:hover {
					border-color: currentcolor;
				}
			}
		}
	}
}