.careers{
	.sloan-callout{
		p{
			max-width: 960px;
			margin: 0 auto;
			font-family: 'PF DinDisplay Pro';
			font-size: em(31);
			font-weight: 300;
			line-height: em(41.6, 31);
			color: $dark-blue;
			strong{
				font-weight: 300!important;
				color: $purple;
			}
		}
		
	}
	.career-features{
		background: #F7F9FA;
		.career-feature{
			position: relative;
			.feature__icon{
				display: inline-block;
				vertical-align: top;
				padding-right: 20px;
				position: relative;
				svg{
					position: relative;
					padding-bottom: 6px;
					@include respond-min($lg)
					{
						top: -10px;
						padding-bottom: 0;
					}
				}
			}
			.feature__content{
				display: inline-block;
				vertical-align: top;
				width: 80%;
				@include respond-max($lg)
				{
					width: 100%;
				}
				p{

				}
			}
			.feature__title{
				font-family: 'PF DinDisplay Pro';
				font-size: em(22);
				font-weight: 500;
				line-height: 1.6em;
				color: $dark-blue;
				margin-bottom: 10px;
			}
		}
	}
	.career-image{
		height: 60vh;
		min-height: 50vw;
		@include respond-min($lg)
		{
			height: em(610);			
		}
		img{
			object-fit: cover;
			height: 100%;
			width: 100%;
		
		}
	}
	.job-openings{
		.job-openings__header{
			p{
				max-width: 480px;
			}
		}
		.jobs{
			.job{
				height: 100%;
				h3{
					font-family: 'PF DinDisplay Pro';
					color: $dark-blue;
					font-size: em(28);
					line-height: 1.2em;
					margin-bottom: .5em;
				}
				p{
					max-width: 370px;
				}
				.button--gradient{
					margin-top: 1.3em;
				}
				padding: 30px;
				background: #F7F9FA;
			}	
		}
	}
	.our-facilities{
		background-color: #001A2D;
		h2{
			color: white;
		}
		.facility-images {
			.col {
				margin-bottom: $mobile-margin;
				@include respond($md) {
					width: 66.666%;
					margin-bottom: $gutter-tight;
				}
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(6),
				&:nth-child(7),
				&:nth-child(10),
				&:nth-child(11) {
					@include respond($md) {
						width: 33.333%;
						.facility-image {
							padding-bottom: 0;
							height: 100%;
						}
					}
				}
				.facility-image {
					@include respond($md) {
						padding-bottom: 66.66%;
						position: relative;
						img {
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
				}
			}
		}
	}
	
}