.contact{
	.contact-info{
		.contact-group{
			margin-bottom: 1.4em;
			.contact-group__title {
				font-family: 'PFDin 7';
				letter-spacing: em(1.5);
				line-height: 2.125em;
				font-size: em(16);
				color: #698BA3;
				text-transform: uppercase;
			}
			.contact-group__contact {
				color: $dark-blue;
			}
			.contact__links {
				color: $dark-blue;
				a {
					color: $dark-blue;
					&:hover {
						color: $purple;
					}
				}
			}
		}
	}
	.card {
		background: $light-grey;
	}
	.button--gradient {
		margin: 0;
		&.small {
			height: 2.5rem;
			font-size: 1rem;
			min-width: 0;
			padding: 0 1.25em;
			span {
				padding: 0;
			}
		}
	}
}