.fixed-header {
	color: $text-color;
	position: fixed;
	z-index: 10;
	background: $bg-color;
	top: auto;
	bottom: calc(100% + 1px);
	left: 0;
	right: 0;
	box-shadow: 0 1px 0 rgba($text-color, .1);
	transition: transform $md-speed $ease;
	header {
		padding: 0;
	}
}

.hang-menu-icon {
	@include respond-smaller-than($lg) {
		display: none;
	}
	position: absolute;
	top: 0;
	z-index: 10;
	left: 100%;
	right: auto;
	width: $margin;
	height: 70px;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: opacity $md-speed $ease, visibility $md-speed $ease;
	header {
		display: none;
	}
	.scrolled & {
		pointer-events: all;
		opacity: 1;
		visibility: visible;
		header {
			display: block;
		}
		div.icon-stem {
			span,
			&:after,
			&:before {
				transform: none;
				opacity: 1;
			}
		}
	}
}

.menu-icon {
	position: fixed;
	width: $margin;
	height: 70px;
	top: 0;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	> div.icon-stem {
		display: block;
		transition: color $md-speed $ease;
		width: 30px;
		position: relative;
		&:before {
			content: '';
			display: block;
			background: currentcolor;
			height: 2px;
			margin-bottom: 5px;
			transition: transform $slow-speed $ease, opacity $slow-speed $ease;
			transform: translate3d(0, .75rem, 0);
			opacity: 0;
		}
		span {
			display: block;
			background: currentcolor;
			height: 2px;
			margin-bottom: 5px;
			transition: transform $slow-speed .05s $ease, opacity $slow-speed .05s $ease;
			transform: translate3d(0, .75rem, 0);
			opacity: 0;
		}
		&:after {
			content: '';
			display: block;
			background: currentcolor;
			height: 2px;
			transition: transform $slow-speed .05s * 2 $ease, opacity $slow-speed .05s * 2 $ease;
			transform: translate3d(0, .75rem, 0);
			opacity: 0;
		}
	}
	&:hover {
		.fixed-header {
			transform: translate3d(0, 100%, 0);
		}
	}
}
