footer{
	position: relative;
	background: #001A2D;
	overflow: hidden;
	padding: 2em 0;
	@include respond-max($md)
	{
		text-align: center;
	}
	.copyright{
		font-family: 'PFDin 7';
		font-weight: 300;
		color: #79A0B4;
		font-size: 16px;
	}
	.footer-links{
		display: flex;
		text-align: center;
		justify-content: center;
		li{
			padding-left: 1.5em;
			&:first-child{
				padding-left: 0;
			}
		}
		a{
			font-family: 'PFDin 7';
			font-weight: 300;
			color: #79A0B4;
			font-size: 16px;
			display: block;
			@include respond-max($md)
			{
				color: white;
			}
			&:hover{
				color:white;
			}
		}
	}
}