.with-hero{
	#page{
		padding-top: 0;
	}
}
#page{

}
body,html{
	&.nav-open{
		overflow: hidden;
	}
}
.large-callout{
	font-family: 'PF DinDisplay Pro';
	font-size: em(36);
	font-weight: 300;
	line-height: em(46.8, 36);
	padding-bottom: .5em;
}
.button,.button--down-arrow{
	display: inline-block;
}
.button--down-arrow{
	margin-top: 5px;
	svg{
		fill: url(#linearGradient-1);
		height: 40px;
		line-height: 40px;
		position: relative;
		top: 16px;
		margin-right: 10px;
	}
	font-family: 'PFDin 7',sans-serif;
	line-height: 1em;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: em(1.6);
	color: $dark-blue;
}
.button--gradient,.button--dark,.button--white,.button--white{
	@include transition((transform .3s ease-in-out, box-shadow .3s ease-in-out, color .3s ease-in-out, background .3s ease-in-out));
	&:hover{
		box-shadow: 0 6px 12px rgba($text-color, .2);
		transform: translate3d(0, -4px, 0);
	}
	&.button--gradient{
		overflow: hidden;
		position: relative;
		z-index:1;
		padding-right: 0;
		span{
			display: block;
			position: relative;
			width: 100%;
			left: 0;
			z-index: 3;
			line-height: 1em;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding-right: 60px;
			height: 100%;
		}
		&:before{
			content: '';
			background: $purple;
			position: absolute;
			right: 0;
			height: 100%;
			width: 100%;
			z-index: 1;
		}
		&:after{
			content: '';
			position: absolute;
			left: -100%;
			top: 0;
			height: 100%;
			width: 200%;
			background-image: -webkit-linear-gradient(left, #1085CF 0%, #8821FF 50%, #1085CF 100%);
			background-image: -o-linear-gradient(left, #1085CF 0%, #8821FF 50%, #1085CF 100%);
			background-image: linear-gradient(to right, #1085CF 0%, #8821FF 50%, #1085CF 100%);
			@include transition((transform .5s ease-in-out));
			z-index: 2;
		}
		&:hover{
			color: white;
			&:after{
				transform: translate3d(50%, 0, 0);
			}
		}
	}
	&.button--white{
		background: white;
		color: $dark-blue;
		&:hover{
			color: $purple;
		}
	}
	&.button--dark{
		background: #001A2D;
		color: white;
		&:hover{
			background: $dark-blue;
		}
	}
	position: relative;
	display: inline-block;
	height: 60px;
	min-width: 250px;
	line-height: 2.5em;
	color: white;
	padding: 0 19px 0 19px;
	margin-top: 2em;
	font-size: em(22);
	font-family: 'PF DinDisplay Pro';
	font-weight: 500;
	i{
		position: absolute;
		right: 20px;
		top: 18px;
		font-size: 24px;
		width: 24px;
		height: 24px;
	}
}

.featured-companies{
	background: $light-grey;
	border-top: 1px solid darken($light-grey, 5%);
	.featured-companies__title{
		color: $dark-blue;
		font-family: 'PF DinDisplay Pro';
		font-size: em(35);
		letter-spacing: em(.4);
		margin-bottom: 60px;
	}
	.featured-slideshow{
		position: relative;
		.slick-list{
		

		}
		.slick-slide{
			margin: 0 2px;
		}
		.featured-prev,.featured-next{
			position: absolute;
			top:0;
			width: 30%;
			z-index: 1;
			height: 100%;
			display: flex;
			color: #698BA3;
			align-items: center;
			@include transition((background-color .3s ease-in-out));
			background-color: #EDF1F4;
			&:hover {
				background-color: darken(#EDF1F4, 10%);
				color: $text-color;
			}
			
		}
		.container{
			position: relative;
			z-index: 2;
			@include respond-max(860)
			{
				width: 100%;
				margin: 0 auto;
			}
			i{
				color: rgba($text-color,.4);
			}
			.arrow-prev,.arrow-next{
				width: 70px;
				position: absolute;
				top: 0;
				display: flex;
				align-items: center;
				height: 100%;
				pointer-events:none;
			}
			.arrow-prev{
				// border-right: 4px solid #001A2D;				
				width: $margin;
				right: 100%;
				justify-content: center;
				@include respond-min($md){
					// padding-right: 1.6em;
				}
			}
			.arrow-next{
				// border-left: 4px solid #001A2D;
				width: $margin;
				left: 100%;
				justify-content: center;
				@include respond-min($md){
					// padding-left: 1.6em;
				}
			}
		}
		.featured-prev{
			left:0;
			justify-content:flex-start;
		}
		.featured-next{
			right:0;
			justify-content:flex-end;
		}
		.featured-slides{
			position: relative;
			z-index: 2;

		}
		.featured-slides__slide{
			display: block;
		}
	}
}
.page-hero,.page-hero--dark,.page-hero--light{
	background-size: cover;
	height: auto;
	position: relative;
	padding-bottom: $margin;
	padding-top: 185px;
	display: flex;
	align-items:flex-end;
	min-height: 40vh;
	@include respond-max($lg)
	{
		min-height: 0;
		padding-top: 110px;
		padding-bottom: $mobile-margin;
	}
	.full-width{
		width: 100%;
	}
	.container{
		position: relative;
		z-index: 4;
	}
	.page-hero__title{
		font-family: 'PF DinDisplay Pro';
		font-size: em(48);
		letter-spacing: 0;
		font-weight: 300;
		line-height: 1.3em;
		margin-bottom: 20px;
	}
	&.page-hero--dark{
			color: white;	
			.page-hero__callout {
				color: white;
			}
	}
	&.page-hero--light{
			color: $dark-blue;
			p{
				color: #698BA3;
			}	
	}
	p{
		max-width: 784px;
		font-family: 'PF DinDisplay Pro';
		font-size: em(28);
		line-height: 1.3em;
	}
	.page-hero__callout{
		color: $dark-blue;
		font-family: 'PF DinDisplay Pro';
		font-size: em(30);
		letter-spacing: 0;
		font-weight: 300;
		max-width: 17em;
		line-height: 1.3em;
		@include respond($md) {
			font-size: em(40);
		}
	}
	.pattern{
		color: #698BA3;
		position: absolute;
		z-index: 1;
		top:0;
		width: 100%;
		height: 100%;
		svg{
			position: relative;
			z-index: 2;
			width: 100%;
			height: 100%;
		}
	}
}
.who-is-paige, .join-us{
	padding: em(120) 0;
	text-align: center;
	position: relative;
	background: white;
	h2{
		
	}
	p{
		margin: 0 auto;
		max-width: 21em;
		font-family: 'PF DinDisplay Pro';
		font-size: em(28);
		line-height: 1.3em;
	}
	.container{
		position: relative;
		z-index: 4;
	}
	.pattern{
		color: rgba(#063D66,.3);
		position: absolute;
		z-index: 1;
		top:0;
		width: 100%;
		height: 100%;
		svg{
			position: relative;
			z-index: 2;
			width: 100%;
			height: 100%;
		}
	}
}
.animsition{
	opacity: 0;
	&.fade-in{
		animation: fade-in .5s linear;
	}
	&.fade-out{
		animation: fade-out .5s forwards;	
	}
}
.dark-bg,
.page-hero--dark{
	&.pattern-bg{
		background-image: url('/assets/img/grid-pattern-white.svg');
	}
	background-color: #001A2D;
	color: white;
	h2 {
		color: white;
	}
}
.page-hero--dark{
	p {
		color: white;
	}
}
.dark-bg {
	p {
		color: rgba($white, .75);
	}
}
.pattern-bg{
	background-image: url('/assets/img/grid-pattern-light.svg');
	background-position: center;
	background-repeat: repeat;
	background-size: auto;
	&.page-hero--light {
		background-image: url('/assets/img/grid-pattern-light.svg');
		background-color: $light-grey;
	}
	&.gradient-bg{
		background-image: url('/assets/img/grid-pattern.svg'), -webkit-linear-gradient(top left, #8821FF 0%, #1085CF 100%);
		background-image: url('/assets/img/grid-pattern.svg'), -o-linear-gradient(top left, #8821FF 0%, #1085CF 100%);
		background-image: url('/assets/img/grid-pattern.svg'), linear-gradient(to bottom right, #8821FF 0%, #1085CF 100%);
		color:white;
		h2,p{
			color: white;
		}
	}
	
}
.more-news{
	padding: em(100) 0;
	background: #F7F9FA;
	h2{
		margin-bottom: em(25);
	}

}
hr.dark{
	border-color: rgba(#001A2D, .9);
}

.video-wrap {
	position: relative;
	.cover-image {
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		bottom: 0;
		transition: opacity $md-speed $ease, visibility $md-speed $ease;
		img {
			width: 100%;
		}
	}
	&.video-playing {
		.cover-image {
			opacity: 0;
			visibility: hidden;
		}
		.play-button.button--gradient {
			opacity: 0;
			visibility: hidden;
			transform: scale(.8);
		}
	}
	.video-iframe-wrap {
		position: relative;
		padding-bottom: 56.25%;
		z-index: 1;
		.video {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			right: 0;
		}
	}
	.play-button.button--gradient {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -2.5rem;
		border-radius: 50%;
		width: 5rem;
		height: 5rem;
		min-width: 0;
		z-index: 3;
		@include respond($lg) {
			margin: -3.125rem;
			width: 6.25rem;
			height: 6.25rem;
		}
		span.play {
			content: '';
			display: block;
			width: 0;
			height: 0;
			position: absolute;
			top: 50%;
			margin-top: -16px;
			left: 50%;
			margin-left: -12px;
			border-left: 32px solid white;
			border-top: 16px solid transparent;
			border-bottom: 16px solid transparent;
		}
	}
}