.dark header:not(.scrolled){
	a{
		color: white;
		&:hover{
			color: white;
			// &:after{
			// 	background: white;
			// }
		}
	}
	.menu-link .menu-icon{
		&:before,
		&:after,
		.center,
		.center:before {
			background: white;
		}
	}
}
.nav-open{
	nav{
		opacity: 1;
		visibility: visible;
	}	
	.menu-link .menu-icon{
		opacity: 1;
		visibility: visible;
		transform: rotate(-180deg);
		&:before,
		&:after,
		.center,
		.center:before {
			background: $dark-blue;
		}
		&:before {
			transform: translate3d(-100%, 5px, 0);
			opacity: 0;
			width: 0;
		}
		&:after {
			transform: translate3d(100%, -5px, 0);
			opacity: 0;
			width: 0;
		}
		.center {
			transform: rotate(-45deg);
			&:before {
				transform: rotate(-90deg);
			}
		}
	}
}
header {
	padding-top: 65px;
	@include transition((padding-top $md-speed $ease, background $md-speed $ease, color $md-speed $ease));
	position: fixed;
	width: 100%;
	background: transparent;
	z-index: 10;
	text-align: right;
	@include respond-smaller-than($lg) {
		height: 70px;
	}
	.small-mark {
		width: 40px;
		height: 40px;
		position: absolute;
		top: 15px;
		left: -3px;
		transform: rotate(-45deg) scale(.9);
		opacity: 0;
		transition: transform $md-speed $ease, opacity $md-speed $ease;
		svg {
			width: 100% !important;
			height: 100% !important;
			.circle-container {
				fill: transparent;
			}
		}
	}
	.logotype {
		transition: transform $md-speed $ease;
	}
	&.scrolled{
		padding-top: 0!important;
		background: white;
		box-shadow:0 1px 0 rgba($text-color,.1);
		.logotype {
			transform: translate3d(50px, 0, 0);
		}
		.small-mark {
			transform: none;
			opacity: 1;
			svg {
				width: 100% !important;
				height: 100% !important;
				.circle-container {
					fill: transparent;
				}
			}
		}
		a{
			color: $dark-blue!important;
		}
		.menu-link .menu-icon{
			&:before,
			&:after,
			.center,
			.center:before {
				background: $dark-blue;
			}
		}
	}
	@include respond-max($lg)
	{
		padding-top: 0!important;
		
	}
	.logo{
		color: $dark-blue;
		display: inline-block;
		position: absolute;
		left: 0;
		height: 24px;
		padding: 25px 0;
	}

.menu-link {
	top: 0;
	right: 0;
	position: absolute;
	padding: 25px 0 0;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	@include transition((opacity .5s ease-in-out, color .5s ease-in-out));
	@include respond-max($lg)
	{
		opacity: 1;
		visibility: visible;
	}
	.menu-icon {
		position: relative;
		display: block;
		width: 30px;
		height: 20px;
		transition: transform .4s ease-in-out;
		&:before,
		&:after,
		.center,
		.center:before {
			content: '';
			display: block;
			width: 100%;
			height: 2px;
			background: $dark-blue;
			position: absolute;
			transition: transform .4s ease-in-out, opacity .4s ease-in-out, width .4s ease-in-out;
		}
		&:before {
			top: 0;
			left: 0;
		}
		&:after {
			bottom: 0;
			right: 0;
		}
		.center {
			top: 50%;
			margin-top: -1px;
			z-index: 2;
			&:before {
			}
		}
	}
}
	.logo svg{
		height: 21px;
		width: auto;
	}
	nav{
		@include respond-max($lg)
		{
			z-index: 9;
			width: 100%;
			background: rgba(255,255,255,.9);
			position: fixed;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			display: flex;
			align-items: center;
			justify-content:center;
			flex-direction: column;
			text-align: center;
			padding: $gutter;
			text-align: center;
			visibility: hidden;
			opacity: 0;
		}
		@include transition((opacity .5s ease-in-out, color .5s ease-in-out));
		padding: 21px 0;
		a{
			@include respond-max($lg)
		{
			color: $dark-blue!important;
			font-family: 'PF DinDisplay Pro';
			font-weight: 300;
			font-size: em(35);
			display: block;
			display: inline-block;
			text-transform: none;
			letter-spacing: 0;
			margin: 0 0 1em 0;
		}
			color: $dark-blue;
			font-family: 'PFDin 7',sans-serif;
			line-height: em(21);
			font-size: 16px;
			display: inline-block;
			letter-spacing: 0;
			margin-left: 52px;
			position: relative;
			&:first-child{
				margin-left: 0;
			}
			&:hover,&.active{
				color: $dark-blue;
				&:after{
					transform: translate3d(0, 0, 0);
    			opacity: 1;
				}
			}
			&:after {
		    content: '';
		    display: block;
		    height: 2px;
		    left: 0;
		    right: .15em;
		    bottom: 50%;
		    margin-bottom: -.75em;
		    background: $purple;
		    position: absolute;
		    transform: translate3d(0, 6px, 0);
		    opacity: 0;
		    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, background 0.25s ease-in-out;
			}
		}
	}
}