.home #content{
	padding-top: 0;
}
.home-intro{
	text-align: center;
	@include respond($lg) {
		height: 100vh;
		text-align: left;
	}
	.container,.grid-flex{
		@include respond-min($lg){
			height: 100vh;
		}
	}
	.grid-flex{
		padding-top: 100px;
		padding-bottom: 8vh;
		@include respond-min($lg) {
			padding-top:calc(100px + 8vh);
			flex-direction:row-reverse;
		}
		.col-logo{
			@include respond($lg) {
				height: 100%;
			}
		}
	}
	.home-intro__logo{
		@include respond($lg) {
			height: 100%;
			padding-bottom: em(40);
		}
		@include respond-smaller-than($lg) {
			margin-left: auto;
			margin-right: auto;
			max-width: 400px;
			margin-bottom: 30px;
		}
		svg{
			display: block;
			max-width: 100%;
			height: 100%;
			width: 100%;
			max-height: 100%;
			@include respond-max($lg)
			{
				height: auto;
			}
		}
	}
	.home-intro__info{
		width: 100%;
		@include respond($lg) {
			max-width: 28em;
		}
		.large-callout{
			color: $dark-blue;
			@include respond-smaller-than($lg) {
				margin-left: auto;
				margin-right: auto;
			}
		}
		p{
			max-width: 19em;
			color: #698BA3;
			@include respond-smaller-than($lg) {
				margin-left: auto;
				margin-right: auto;
			}
		}
		@include respond-min($lg)
		{
			margin-bottom: 2em;
		}
	}
}
.home-who-is {
	background: $light-grey;
	@include respond-smaller-than($md) {
		padding: 2rem 0;
	}
	.home-who-is__factiod{
		@include respond-smaller-than($md) {
			padding: 1rem 0;
		}
		.paige-word{
			font-family: 'PF DinDisplay Pro';
			font-weight: 500;
			color: $dark-blue;
			font-size: em(24);
			line-height: 1.2em;
			display: inline-block;
			margin-bottom: 10px;
			strong{
				color: $purple;
				&.blue {
					color: #1C62FA;
				}
			}
		}
	}
}
.home-mission{
	.grid-flex{
		@include respond-min($lg) {
			flex-direction: row-reverse;
			justify-content: flex-start;
		}
	}
	.info-col {
		max-width: calc(#{$max-site-width}/2 + #{$margin});
	}
	.img-col {}
	.home-mission__image {
		margin: 0 ($mobile-margin * -1.3);
		height: 66vw;
		position: relative;
		overflow: hidden;
		@include respond($lg) {
			width: 100%;
			margin: 0;
			height: 100%;
		}
		@include respond($huge) {
			max-height: 40vw;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.home-mission__info{
		position: relative;
		padding: $mobile-margin $mobile-margin ($mobile-margin * 1.5);
		@include respond($lg) {
			padding: $margin;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}
		.grid-pattern{
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 1;
			svg{
				width: 100%;
				height: 100%;
			}
		}
		color: #92B2C8;
	}
}
.home-medical-ai{
	position: relative;
	background: $light-grey;
	&.in-view {
		.home-medical-ai__graph {
			.graph-data {
				.graph-y {
					transform: translate3d(0, 0, 0);
				}
			}
		}
		.uncover-graph {
			width: 30%;
		}
	}
	.col {
		height: 100%;
	}
	.uncover-graph {
		position: absolute;
		right: 0;
		bottom: 0;
		top: 0;
		width: 0;
		background: #fff;
		overflow: hidden;
		z-index: 2;
		transition: width $slow-speed * 2 $ease;
		@include respond-smaller-than($lg) {
			background: transparent;
			height: 300px;
		}
		.graph {
			position: absolute;
			width: 100vw;
			height: 100%;
			right: 0;
			svg {
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    padding: 7% 0;
		    z-index: 1;
		    * {
			    stroke: $purple;
			    @include respond-smaller-than($lg) {
						stroke-width: 5px;
			  	}
			  }
			}
		}
	}
	@include respond-min($lg) {
		height: 100vh;
		max-height: 815px;
		padding-top: 0;
	}
	.grid-flex,.container {
		height: 100%;
	}
	.home-medical-ai__graph {
		position: relative;
		height: 300px;
		overflow: hidden;
		@include respond-min($lg) {
			padding-top: 0;
			position: absolute;
			height: 100%;
			top: 0;
		}
		width: 100%;
	
		.container {
			z-index: 4;
		}
		svg {
			position: absolute;
			width: 100%;
			height: 100%;
			padding: 7% 0;
			z-index: 1;
			* {
				@include respond-smaller-than($lg) {
					stroke-width: 5px;
		  	}
			}
		}
		.graph-data {
			height: 100%;
			width: 70%;
			position: relative;
			@include respond-smaller-than($lg) {
				display: none;
			}
			.graph-y{
				position: absolute;
				z-index: 2;
				right: 0.5em;
				transform: translate3d(30vw, 0, 0);
				height: 100%;
				flex-direction: column;
				display: flex;
				justify-content: center;
				align-items: flex-end;
				transition: transform $slow-speed * 2 $ease;
				.amount{
					display: flex;
					height: 20%;
					align-items: center;
				}
			}

			.graph-x{
				position: absolute;
				z-index: 2;
				bottom: -1.5em;
				width: 100%;
				display: flex;
				right: -20px;
			}
			.year{
				font-family: 'PF DinDisplay Pro';
				font-weight: 500;
				display: inline-block;
				width: 33.334%;
				text-align: right;
				color: rgba($dark-blue,.4);
			}
		}
	}
	.home-medical-ai__info{
		max-width: 26rem;
		@include respond($lg) {
			padding-top: $margin * 1.5;
		}
		@include respond-smaller-than($lg) {
			margin-top: -2em;
		}
		p{
			strong{
				color: $purple;
				font-weight: 500;
			}
		}
	}
}

.letter-section {
	position: relative;
	svg {
		@include respond($md) {
			padding-right: $mobile-margin * 2;
		}
		@include respond($lg) {
			padding-right: $margin;
		}
	}
	.clip-section {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		clip: rect(0,auto,auto,0);
		@include respond-smaller-than($md) {
			display: none;
		}
		.clip-content {
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			.container {
				height: 100%;
				.grid-flex {
					height: 100%;
				}
			}
			svg {
				height: 100%;
				width: 100%;
				overflow: visible;
				stroke-width: 2px;
				stroke: tint($hr-color, 70%);
				* {
					fill: transparent;
				}
				@include respond-smaller-than($xlg) {
					stroke-width: 5px;
				}
			}
		}
	}
	&.empty-section,
	&.filled-section {
		height: 20rem;
		@include respond-smaller-than($md) {
			display: none;
		}
	}
	&.filled-section {
		svg {
			* {
				fill: $purple !important;
				stroke: $purple;
				&.letter-ai {
					fill: #1C62FA !important;
					stroke: #1C62FA !important;
				}
			}
		}
	}
	&.highlight-p {
		svg {
			.letter-p {
				fill: $purple;
				stroke: $purple;
			}
		}
	}
	&.highlight-ai {
		svg {
			*.letter-ai {
				fill: #1C62FA !important;
				stroke: #1C62FA !important;
			}
		}
	}
	&.highlight-g {
		svg {
			.letter-g {
				fill: $purple;
				stroke: $purple;
			}
		}
	}
	&.highlight-e {
		svg {
			.letter-e {
				fill: $purple;
				stroke: $purple;
			}
		}
	}
}