.news{
}
.post-snippet{
	hr{
		margin:  0 0 20px;
		border-top: 4px solid transparent;
    -webkit-border-image: 
      -webkit-linear-gradient(right, #8821FF 7%, #1085CF 88%);
    -o-border-image:
      -o-linear-gradient(right, #8821FF 7%, #1085CF 88%);
    border-image:
      linear-gradient(to right, #8821FF 7%, #1085CF 88%);
    border-image-slice:1;
	}
	img{
		margin-bottom: 1em;
	}
	.post-snippet__date{
		font-family: 'PFDin 7',sans-serif;
		font-size: em(13);
		line-height: 2.5em;
		letter-spacing: .1em;
		color: $purple;
	}
	h3{
		font-family: 'PF DinDisplay Pro';
		font-weight: 500;
		font-size: em(24);
		line-height: 1.2em;
		color: $dark-blue;
		margin-bottom: .6em;
	}
	a.go-to-post{
		display: inline-block;
		margin-top: 1em;
		font-family: 'PFDin 7',sans-serif;
		font-size: em(13);
		line-height: 2.5em;
		letter-spacing: .1em;
		color: $dark-blue;
		text-transform: uppercase;
		span{
			border-bottom: 1px solid rgba(#698BA3, .3);
			padding-bottom: 6px;
		}
		i{
			position: relative;
			@include transform(rotate(-45deg));
			top: -8px;
		}
	}
	&:first-child{
		.featured{				
			margin-top: 0;
		}
	}
	&.featured{				
		margin-top: 2em;
		position: relative;
		padding: $gutter;		
		border: 4px solid transparent;
    -webkit-border-image: 
      -webkit-linear-gradient(bottom right, #8821FF 7%, #1085CF 88%);
    -o-border-image:
      -o-linear-gradient(bottom right, #8821FF 7%, #1085CF 88%);
    border-image:
      linear-gradient(to bottom right, #8821FF 7%, #1085CF 88%);
    border-image-slice:1;
    @include respond($lg)
    {
    	margin: 2em calc(-22px - 2rem/2) 0;
    }
    hr{
    	display: none;
    }
    .post-snippet__date{
    	position: absolute;
    	top: -3em;
    }
    .button--gradient{
    	min-width: 0;
			width: auto;
			height: em(50);
			line-height: em(50);
			font-size: em(18);
    }
	}
}