.page-loader {
	position: fixed;
	min-width: 100px;
	min-height: 100px;
	z-index: 0;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	transition: opacity $md-speed $ease, visibility $md-speed $ease;
	display: flex;
	align-items: center;
	justify-content: center;
	img {
		max-height: 100%;
		width: auto;
	}
	&.loaded {
		opacity: 0;
		visibility: hidden;
	}
	.loader{
		border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid $dark-blue; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: rotate 2s linear infinite;
	}
}

.animsition {
	z-index: 1;
}