.post{

	.post-titles {
		margin-bottom: em(70);
		.date{
			font-family: 'PFDin 7',sans-serif;
			font-size: em(16);
			line-height: 2.1em;
			letter-spacing: .1em;
			color: $purple;
		}
		h1{
			font-size: em(48);
			font-weight: 300;
			line-height: 1.3em;
			color: $dark-blue;
		}
	}
	.post-content{
		color: $dark-blue;
		img,p,blockquote,ol{
			margin-bottom: 2em;
			&:last-child{
				margin-bottom: 0;
			}
		}
		p,li,dl{
			font-size: em(22);
			line-height: 1.36em;
		}
		blockquote{
			font-size: em(28);
			line-height: 1.3em;
			padding-left: 1em;
			border-left: 4px solid transparent;
		  -webkit-border-image: 
		    -webkit-linear-gradient(top, #8821FF 7%, #1085CF 88%);
		  -o-border-image:
		    -o-linear-gradient(top, #8821FF 7%, #1085CF 88%);
		  border-image:
		    linear-gradient(to bottom, #8821FF 7%, #1085CF 88%);
		  border-image-slice:1;
		}
		a{
			color: $purple;
		}
		strong{
			font-weight: 500;
		}
		margin-bottom: em(130);
	}

	.post-share{
		position: relative;
		padding-left: 36px;
		i{
			font-size: em(24);
			color:$purple;
			position: absolute;
			left: 0px;

		}
		.post-share__title{
			font-family: 'PF DinDisplay Pro';
			font-size: em(24);
			line-height: 1.2em;
			margin-bottom: 1em;
			color: $dark-blue;
		}
		a{
			font-family: 'PFDin 7',sans-serif;
			font-size: em(13);
			line-height: 2.3em;
			letter-spacing: .1em;
			color: #698BA3;
			text-transform: uppercase;
			display: block;
		}
	}
}