.max-text-width {
	max-width: $max-text-width;
}

.lw-loader {
	content: '';
	display: block;
	width: 2px;
	height: 2rem;
	background: $light-text-color;
	animation: rotate 1s $ease infinite;
	z-index: 0;
	transition: opacity 0s 1s $ease;
}

.z-2 {
	z-index: 2;
}

.pt-1px {
	padding-top: 1px;
}

.pb-1px {
	padding-bottom: 1px;
}

.mbn-1px {
	margin-bottom: -1px;
}

hr.tiny {
	width: 20px;
}

.dark-bg {
	background: $black;
	color: $white;
	@include font-smooth();
	a {
		&:hover {
			color: $white;
		}
	}
	.light-text-color {
		color: rgba($bg-color, .5);
	}
	hr {
		border-color: lighten($text-color, 7%);
		&.main-color {
			border-color: $main-color;
		}
	}
	.button {
		&.secondary {
			opacity: 1;
	    color: $text-color;
	    background: $white;
	    &:not(.disabled):not(.loading):hover {
	      color: $text-color;
	      background: rgba($white, .75);
	    }
		}
	}
	input[type='text'],
	input[type='email'],
	input[type='number'],
	input[type='password'],
	select {
		color: $bg-color;
		border-bottom: 1px solid rgba($bg-color, .4);
		background: transparent;
		padding-left: 0;
		padding-right: 2rem;
		&::-webkit-input-placeholder {
			color: rgba($bg-color, .6);
		}
		&:-moz-placeholder {
			color: rgba($bg-color, .6);
		}
		&::-moz-placeholder {
			color: rgba($bg-color, .6);
		}
		&:-ms-input-placeholder {
			color: rgba($bg-color, .6);
		}
		&:hover {
			border-color: rgba($bg-color, .6);
		}
		&:focus {
			border-color: $bg-color;
			&::-webkit-input-placeholder {
				color: $placeholder-focus-color;
			}
			&:-moz-placeholder {
				color: $placeholder-focus-color;
			}
			&::-moz-placeholder {
				color: $placeholder-focus-color;
			}
			&:-ms-input-placeholder {
			   color: $placeholder-focus-color;
			}
		}
	}
}

.highlight {
	b,
	strong,
	em,
	i {
		color: $main-color;
	}
}

.display-block {
	display: block;
}

.accordion {
	.c-header {
		cursor: pointer;
	}
}


// Grid
.collapse-4-3-2-1 {
	> .col {
		@include respond($sm) {
			width: 50%;
		}
		@include respond($lg) {
			width: 33.333%;
		}
		@include respond($xlg) {
			width: 25%;
		}
	}
}

.collapse-4-2-1 {
	> .col {
		@include respond($sm) {
			width: 50%;
		}
		@include respond($lg) {
			width: 25%;
		}
	}
}

.collapse-4-3-2 {
	> .col {
		width: 50%;
		@include respond($lg) {
			width: 33.333%;
		}
		@include respond($xlg) {
			width: 25%;
		}
	}
}

.lazy-wrap {
	display: block;
}

.set-ratio {
	position: relative;
	overflow: hidden;
}

.set-ratio-3-2 {
	position: relative;
	overflow: hidden;
	padding-bottom: 66.666%;
}

.set-ratio-2-1 {
	position: relative;
	overflow: hidden;
	padding-bottom: 50%;
}

.set-ratio-sq {
	position: relative;
	overflow: hidden;
	padding-bottom: 100%;
}

.object-cover,
.lazy-wrap.object-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.arrow-link,
a.arrow-link {
	border: none;
	position: relative;
	.material-icons {
		transition: transform $md-speed $ease;
		margin-top: -3px;
	}
	&.small-caps {
		&:after {
			background: currentcolor;
			content: '';
			display: block;
			position: absolute;
			bottom: -.3em;
			left: 0;
			right: calc(18px + .45em);
			height: 1px;
		}
	}
	&:hover {
		&.hover-right {
			.material-icons {
				transform: translate3d(4px, 0, 0);
			}
		}
		&.hover-down {
			.material-icons {
				transform: translate3d(0, 4px, 0);
			}
		}
	}
	&:after {
		background: currentcolor;
		content: '';
		display: block;
		position: absolute;
		bottom: -.1em;
		left: 0;
		right: calc(24px + .15em);
		height: 1px;
	}
}

.arrow-hover {
	cursor: pointer;
	position: relative;
	&:after {
		display: block;
		@include material-icons();
		content: 'chevron_right';
		color: inherit;
		position: absolute;
		top: 50%;
		margin-top: -10px;
		left: 100%;
		padding-left: .2em;
		transition: opacity $md-speed $ease, transform $md-speed $ease;
		transform: translate3d(-10px, 0, 0);
		opacity: 0;
	}
	&:hover {
		&:after {
			opacity: 1;
			transform: none;
		}
	}
}

.grid-item-label {
	padding-bottom: .45em;
}