.team{
	.page-hero--light{
	}
	.team-members{
		.team-members__header{
			margin-bottom: em(100); 
		}
	}
	.scientific-advisory-board{
		background: #F7F9FA;
		.members{
			.member-snippet{
				// background: #F7F9FA;
			}
		}
	}
	.our-investors{
		background: #001A2D;
		h2{
			color: white;
		}

	}
}
.members {
	.member-icon {
		width: 20px;
		height: 20px;
		color: rgba($dark-blue, .4);
		display: block;
		&:hover {
			color: $purple;
		}
		svg {
			width: 100%;
			height: 100%;
		}
	}
	> .grid-flex {
		> .col {
			@include respond($sm) {
				width: 50%;
			}
			@include respond($md) {
				width: 33.333%;
			}
			@include respond($xlg) {
				width: 25%;
			}
		}
		.member-snippet {
			cursor: pointer;
			transition: opacity $md-speed $ease;
			img {
				width: 100%;
			}
			&:hover {
				opacity: .8;
			}
		}
	}
}
.member-snippet{
	.member-snippet__name{
		font-family: 'PF DinText Pro';
		font-weight: 500;
		font-size: em(18);
		color: $dark-blue;
	}
	.member-snippet__title{
		font-family: 'PF DinText Pro';
		font-size: em(16);
		color: $purple;
	}
	.member-content{
		display: none;
	}
}
.member-slideshow{
	position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
	background: rgba(255,255,255,0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	@include transition((opacity .2s ease-in-out, visibility .2s ease-in-out));
	&.open{
		opacity: 1;
		visibility: visible;
	}
	.member-slides{
		width: 100%;
	}
	.slick-slide{
		width: 100%;
		> div{
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	.member{
		margin: 0 auto;
		max-width:800px;
		display: block;
		padding: $gutter;
		background: white;
		position: relative;
		@include respond-min($lg)
		{
			border: 4px solid transparent;
	    -webkit-border-image: 
	      -webkit-linear-gradient(bottom right, #8821FF 7%, #1085CF 88%);
	    -o-border-image:
	      -o-linear-gradient(bottom right, #8821FF 7%, #1085CF 88%);
	    border-image:
	      linear-gradient(to bottom right, #8821FF 7%, #1085CF 88%);
	    border-image-slice:1;
    }
    .arrow-prev,.arrow-next{
			position: absolute;
			top: 50%;
			margin-top: -12px;
			i{
				font-size: 24px;
			}
    }
    .arrow-prev{
    	left: -50px;
  	}
  	.arrow-next{
    	right: -50px;
  	}
  	.member-close{
  		position: absolute;
  		top: -10px;
  		right: -50px;
  		i{
				font-size: 24px;
			}
  	}
    .grid-flex{
    	flex-direction: row-reverse;
  	}
  	.member__name{
  		font-family: 'PF DinDisplay Pro';
  		font-weight: 300;
  		font-size: em(35);
  		letter-spacing: .01em;
  		line-height: 1.2em;
  		color: $dark-blue;
  		margin-bottom: .1em;
  	}
  	.member__image{
  		@include respond-max($md)
			{
  			margin-bottom: 1em;
  		}
  	}
  	.member__title{
  		font-family: 'PF DinText Pro';
			font-size: em(22);
			color: $purple;	
			margin-bottom: 1em;
		}
		p{
			margin-bottom: 1em;
			strong{
				color: $dark-blue;
				font-weight: 400;
			}
		}
		.member-link{
			font-family: 'PFDin 7';
			text-transform: uppercase;
			font-size: em(13);
			color: $dark-blue;
			letter-spacing: .1em;
			a{
				margin-right: 12px;
				display: inline-block;
				border-bottom: 1px solid rgba(#698BA3,.3);
				@include transition((border-color .2s ease-in-out));
				&:hover{
					border-color: $dark-blue;
				}
			}
		}
	}
}
