---
title: PAIGE | About
meta-url: /about
layout: default
hero-callout: Paige uses AI to bring clarity, confidence, and efficiency to pathology with ease.
hero-intensity: light
body-class: about
hero-pattern: true
---

{{> page-hero }}

<div class="paige-history" data-module-init="timeline">
	<div class="container">
		<div class="grid-flex">
			<div class="col-6">
				<h2>Paige's History</h2>
			</div>	
			<div class="col-6">
				<div class="timeline">
					<div class="timeline__event">
						<div class="event-year">2008</div>
						<p>We published the first computational pathology paper and validated AI’s level of  accuracy on the survival of renal cancer patients</p>
					</div>
					<div class="timeline__event">
						<div class="event-year">2011</div>
						<p>We published the first review article about computational pathology</p>
					</div>
					<div class="timeline__event">
						<div class="event-year">2013</div>
						<p>Digitization of clinical pathology slides at MSKCC</p>
					</div>
					<div class="timeline__event">
						<div class="event-year">2016</div>
						<p>Build deeper learning models for cancer detection, segmentation, classification, and patient stratificiation</p>
					</div>
					<div class="timeline__event">
						<div class="event-year">2018</div>
						<p>Launch of <strong>Paige AI</strong></p>
					</div>
				</div>
				<div class="timeline clip-me">
					<div class="timeline__event">
						<div class="event-year">2008</div>
						<p>We published the first computational pathology paper and validated AI’s level of  accuracy on the survival of renal cancer patients</p>
					</div>
					<div class="timeline__event">
						<div class="event-year">2011</div>
						<p>We published the first review article about computational pathology</p>
					</div>
					<div class="timeline__event">
						<div class="event-year">2013</div>
						<p>Digitization of clinical pathology slides at MSKCC</p>
					</div>
					<div class="timeline__event">
						<div class="event-year">2016</div>
						<p>Build deeper learning models for cancer detection, segmentation, classification, and patient stratificiation</p>
					</div>
					<div class="timeline__event">
						<div class="event-year">2018</div>
						<p>Launch of <strong>Paige AI</strong></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="our-goals pattern-bg gradient-bg py-margin">
	<div class="container pt-2 pb-3">
		<div class="grid-flex middle">
			<div class="col-6">
				<h2>Our Goals</h2>
			</div>
		</div>
			<div class="goals grid-flex top v-spaced">
				<div class="col-6">
					<div class="goal">
						<div class="grid-flex tight-gutter baseline no-break">
							<div class="col no-grow">
								<div class="goal__num p md">01</div>
							</div>
							<div class="col grow">
								<p class="md">Develop and deliver a series of AI disease modules that allow pathologists to improve the scalability of their work, enabling them to provide better care, at lower cost.</p>
							</div>
						</div>
					</div>
				</div>		
				<div class="col-6">
					<div class="goal">
						<div class="grid-flex tight-gutter no-break">
							<div class="col no-grow">
								<div class="goal__num p md">02</div>
							</div>
							<div class="col grow">
								<p class="md">Develop and deliver a series of AI disease modules that allow pathologists to improve the scalability of their work, enabling them to provide better care, at lower cost.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="our-tech my-margin">
	<div class="container py-2">
		<div class="grid-flex right break-lg v-spaced">
			<div class="col-6">
				<h2>Our Technology</h2>
			</div>
			<div class="col-6">
				<div class="our-tech__content ">
					<p class="md">We are building an Artificial Intelligence to fundamentally <strong>change clinical diagnosis and treatment</strong> of cancer. We are working on general and organ specific modules which allow PAIGE to fulfill a plethora of tasks ranging from <strong>rapid stratification to tumor detection and segmentation</strong> as well as prediction of treatment response and survival.</p>
				</div>
			</div>
			<div class="col-12">
				<div class="our-tech__image">
					<img src="{{ site.root }}/assets/img/paige-tech-graphic.png" alt="">
				</div>
			</div>
			<div class="col-6">
				<div class="our-tech__content ">
					<p><strong>At the heart of PAIGE</strong> are large-scale Machine Learning algorithms that are trained at <strong>petabyte-scale</strong> from tens of thousands of digital slides. We are developing novel deep learning algorithms based on convolutional and recurrent neural networks as well as generative models that are able to learn efficiently from an unprecedented <strong>wealth of visual and clinical data.</strong></p>
				</div>			
			</div>	
		</div>
	</div>
</div>

<div class="my-margin">
	<div class="container">
		<div class="video-wrap" data-module-init="youtube">
			<div class="set-ratio-16-9">
				<div class="cover-image">
					<img src="{{ site.root }}/assets/img/about-video-cover.png" alt="">
				</div>
				<div class="video-iframe-wrap">
					<div class="video" id="aboutVideo" data-video-id="fMaXGCR6B4Y"></div>
				</div>
				<a class="play-button button--gradient" title="Play"><span class="play"></span></a>
			</div>
		</div>
	</div>
</div>

	<div class="our-product  py-margin">
		<div class="container">
			<div class="grid-flex v-spaced break-lg">
				<div class="col-6">
					<h2>Our Product</h2>
					<p class="md">Our leading product is an application suite with a novel slide viewer which is microscope vendor agnostic, device independent and the fastest viewer in the field.</p>
					<p>In addition to delivering PAIGE's AI modules to the pathologist, it is fully integrated into the laboratory information systems, allowing for a seamless application in the clinical workflow.</p>
				</div>
				<div class="col-6">
				<figure>
					<div class="img-wrap">
						<img src="assets/img/product-image.jpg">
					</div>
					<figcaption class="mt-gutter">
						<p>In 2017 PAIGE's slide viewer was rolled out institution-wide at Memorial Sloan Kettering Cancer Center and is the single entry point for pathologists and cancer researchers. We are developing a series of disease-specific modules, which will be rolled out starting later in 2018.</p>
						<img class="mt-2" src="assets/img/msk-logo.png" style="width: 245px; height: 60px;">
					</figcaption>
				</figure>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="selected-publications py-margin">
	<div class="container">
		<h2>Selected Publications</h2>

		<div class="publications">
			{{#each site.publications}}
				{{> publication-item }}
		  {{/each}} 
		</div>
	<a class="button--gradient" href="http://www.thomasfuchslab.org/publications" target="_blank"><span>Full Publication List<i class="material-icons">arrow_forward</i></span></a>
	</div>
	
</div>
{{> featured-companies }}