---
title: PAIGE | Careers
meta-url: /careers
layout: default
hero-title: Careers
hero-text: At PAIGE we work along side the best in machine learning and pathology and help bring the world of pathology into the future
hero-button-text: View Positions
hero-button-link: https://paigeai.bamboohr.com/jobs/
hero-image: assets/img/careers-bg.jpg
hero-intensity: dark
body-class: careers
---

{{> page-hero }}

<div class="sloan-callout py-margin">
	<div class="container py-gutter">
		<p>At <strong>PAIGE</strong> we are building an <strong>artificial intelligence</strong> that will revolutionize the clinical diagnosis and treatment of cancer. We are backed by <strong>$25 million series</strong> A financing and an exclusive data licensing agreement with the <strong>Memorial Sloan Kettering Cancer Center</strong> (MSKCC).
		</p>
	</div>
</div>

<div class="career-features py-margin">
	<div class="container pt-2">
		<div class="grid-flex v-spaced">
			<div class="col-6">
			<div class="career-feature pb-3">
				<div class="feature__icon">
		<svg width="50px" height="50px" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="no-fill-fix">
		    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
		    <desc>Created with Sketch.</desc>
		    <defs>
		        <linearGradient x1="18.7237194%" y1="20.5773999%" x2="75.722716%" y2="77.7554266%" id="linearGradient-1">
		            <stop stop-color="#8821FF" offset="0%"></stop>
		            <stop stop-color="#1085CF" offset="100%"></stop>
		        </linearGradient>
		    </defs>
		    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		        <g id="Careeers" transform="translate(-121.000000, -1213.000000)" fill="url(#linearGradient-1)">
		            <path d="M152.999,1252.00022 L155,1252.00022 L155,1213 L152.999,1213 L152.999,1252.00022 Z M164.999,1252.00022 L166.999,1252.00022 L166.999,1219.00088 L164.999,1219.00088 L164.999,1252.00022 Z M144.999,1252.00022 L146.999,1252.00022 L146.999,1219.00088 L144.999,1219.00088 L144.999,1252.00022 Z M148.999,1252.00022 L150.999,1252.00022 L150.999,1229.00068 L148.999,1229.00068 L148.999,1252.00022 Z M132.999,1252.00022 L134.999,1252.00022 L134.999,1229.00068 L132.999,1229.00068 L132.999,1252.00022 Z M136.999,1252.00022 L138.999,1252.00022 L138.999,1234.00058 L136.999,1234.00058 L136.999,1252.00022 Z M156.999,1252.00022 L158.999,1252.00022 L158.999,1235.00056 L156.999,1235.00056 L156.999,1252.00022 Z M160.999,1252.00022 L163,1252.00022 L163,1238.99948 L160.999,1238.99948 L160.999,1252.00022 Z M140.999,1252.00022 L142.999,1252.00022 L142.999,1238.99948 L140.999,1238.99948 L140.999,1252.00022 Z M124.999,1252.00022 L127,1252.00022 L127,1238.99948 L124.999,1238.99948 L124.999,1252.00022 Z M128.999,1252.00022 L130.999,1252.00022 L130.999,1245.00036 L128.999,1245.00036 L128.999,1252.00022 Z M121,1254.00318 L121,1256.00314 L124.999,1256.00314 L124.999,1263 L126.999,1263 L126.999,1256.00314 L128.999,1256.00314 L128.999,1261.00004 L130.999,1261.00004 L130.999,1256.00314 L132.999,1256.00314 L132.999,1263 L134.999,1263 L134.999,1256.00314 L136.999,1256.00314 L136.999,1263 L138.999,1263 L138.999,1256.00314 L140.999,1256.00314 L140.999,1262.00002 L142.999,1262.00002 L142.999,1256.00314 L144.999,1256.00314 L144.999,1261.00004 L146.999,1261.00004 L146.999,1256.00314 L152.999,1256.00314 L152.999,1263 L154.999,1263 L154.999,1256.00314 L156.999,1256.00314 L156.999,1261.00004 L158.999,1261.00004 L158.999,1256.00314 L160.999,1256.00314 L160.999,1263 L162.999,1263 L162.999,1256.00314 L164.999,1256.00314 L164.999,1262.00002 L166.999,1262.00002 L166.999,1256.00314 L171,1256.00314 L171,1254.00318 L121,1254.00318 Z" id="Fill-1"></path>
		        </g>
		    </g>
		</svg></div>	
				<div class="feature__content">
				<div class="feature__title">Data an at entirely new scale</div>
				<p>We have exclusive access to MSKCC's library of 25 million pathology slides, which represents one of the world's largest tumor pathology archives, from the world's leading cancer treatment center. MSKCC began digitizing pathology slides five years ago; PAIGE will digitize millions of additional archived slides in the next few years. All of the licensed digital slides are accompanied by pathologic and clinical annotation, as well as anonymized genomic sequencing results.</p>
				</div>
			</div>
		</div>
			<div class="col-6">
			<div class="career-feature pb-3">
				<div class="feature__icon">
		<svg width="50px" height="50px" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="no-fill-fix">
		    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
		    <desc>Created with Sketch.</desc>
		    <defs>
		        <linearGradient x1="18.7237194%" y1="20.5773999%" x2="75.722716%" y2="77.7554266%" id="linearGradient-1">
		            <stop stop-color="#8821FF" offset="0%"></stop>
		            <stop stop-color="#1085CF" offset="100%"></stop>
		        </linearGradient>
		    </defs>
		    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		        <g id="Careeers" transform="translate(-620.000000, -1219.000000)" fill="url(#linearGradient-1)">
		            <path d="M663,1227 C665.206,1227 667,1228.794 667,1231 C667,1233.206 665.206,1235 663,1235 C660.794,1235 659,1233.206 659,1231 C659,1228.794 660.794,1227 663,1227 Z M663,1237 C666.314,1237 669,1234.314 669,1231 C669,1227.686 666.314,1225 663,1225 C659.686,1225 657,1227.686 657,1231 C657,1234.314 659.686,1237 663,1237 Z M668,1255 L658,1255 L658,1247 C658,1244.243 660.243,1242 663,1242 C665.757,1242 668,1244.243 668,1247 L668,1255 Z M640,1255 L640,1241 C640,1238.243 642.243,1236 645,1236 C647.757,1236 650,1238.243 650,1241 L650,1255 L640,1255 Z M632,1255 L622,1255 L622,1247 C622,1244.243 624.243,1242 627,1242 C629.757,1242 632,1244.243 632,1247 L632,1255 Z M663,1240 C659.141,1240 656,1243.141 656,1247 L656,1255 L652,1255 L652,1241 C652,1237.141 648.86,1234 645,1234 C641.141,1234 638,1237.141 638,1241 L638,1255 L634,1255 L634,1247 C634,1243.141 630.86,1240 627,1240 C623.141,1240 620,1243.141 620,1247 L620,1257 L632,1257 L632,1269 L634,1269 L634,1257 L638,1257 L638,1269 L640,1269 L640,1257 L650,1257 L650,1269 L652,1269 L652,1257 L656,1257 L656,1269 L658,1269 L658,1257 L670,1257 L670,1247 C670,1243.141 666.86,1240 663,1240 Z M627,1227 C629.206,1227 631,1228.794 631,1231 C631,1233.206 629.206,1235 627,1235 C624.794,1235 623,1233.206 623,1231 C623,1228.794 624.794,1227 627,1227 Z M627,1237 C630.314,1237 633,1234.314 633,1231 C633,1227.686 630.314,1225 627,1225 C623.686,1225 621,1227.686 621,1231 C621,1234.314 623.686,1237 627,1237 Z M645,1221 C647.206,1221 649,1222.794 649,1225 C649,1227.206 647.206,1229 645,1229 C642.794,1229 641,1227.206 641,1225 C641,1222.794 642.794,1221 645,1221 Z M645,1231 C648.314,1231 651,1228.314 651,1225 C651,1221.686 648.314,1219 645,1219 C641.686,1219 639,1221.686 639,1225 C639,1228.314 641.686,1231 645,1231 Z" id="Fill-1"></path>
		        </g>
		    </g>
		</svg></div>	
				<div class="feature__content">
				<div class="feature__title">An exceptional team</div>
				<p>PAIGE's machine learning team comprises PhDs with expertise in deep learning, software engineers and high-performance computation experts. Our Scientific Advisory Board comprises world-leading university professors in Computer Vision, Machine Learning and Pathology. The company is led by the founding father of computational pathology, Thomas Fuchs.</p>
				</div>
			</div>
		</div>
			<div class="col-6">
			<div class="career-feature pb-3">
				<div class="feature__icon">
		<svg width="50px" height="50px" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="no-fill-fix">
		    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
		    <desc>Created with Sketch.</desc>
		    <defs>
		        <linearGradient x1="18.7237194%" y1="20.5773999%" x2="75.722716%" y2="77.7554266%" id="linearGradient-1">
		            <stop stop-color="#8821FF" offset="0%"></stop>
		            <stop stop-color="#1085CF" offset="100%"></stop>
		        </linearGradient>
		    </defs>
		    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		        <g id="Careeers" transform="translate(-120.000000, -1599.000000)" fill="url(#linearGradient-1)">
		            <path d="M159.770046,1631.60248 C159.330134,1631.5025 158.885223,1631.43651 158.436313,1631.43651 C157.218556,1631.43651 156.008798,1631.82144 154.972006,1632.55829 L152.75045,1630.33673 C153.961208,1628.85203 154.754049,1627.0144 154.94901,1624.9998 L158.092382,1624.9998 C158.381324,1626.71746 159.397121,1628.18416 160.815837,1629.07698 L159.770046,1631.60248 Z M161.263747,1634.60788 C162.019596,1635.36273 162.435513,1636.36753 162.435513,1637.43531 C162.435513,1638.5041 162.019596,1639.5079 161.263747,1640.26375 C160.508898,1641.0186 159.504099,1641.43451 158.436313,1641.43451 C157.367526,1641.43451 156.363727,1641.0186 155.607878,1640.26375 C155.475905,1640.13077 155.367926,1639.9818 155.255949,1639.83483 L158.811238,1638.36313 L158.812238,1638.36213 L158.818236,1638.36013 C158.838232,1638.35113 158.85123,1638.33413 158.870226,1638.32513 C158.95021,1638.28614 159.022196,1638.23715 159.090182,1638.17816 C159.106179,1638.16317 159.127175,1638.15817 159.143171,1638.14317 C159.143171,1638.14217 159.144171,1638.14117 159.144171,1638.14117 C159.153169,1638.13217 159.158168,1638.11918 159.166167,1638.11018 C159.245151,1638.02519 159.313137,1637.93121 159.359128,1637.81924 L159.362128,1637.81324 C159.362128,1637.81224 159.362128,1637.81224 159.362128,1637.81124 L160.834833,1634.25595 C160.981804,1634.36693 161.131774,1634.47491 161.263747,1634.60788 Z M156.670666,1637.08538 L154.491102,1637.9882 C154.466107,1637.80524 154.437113,1637.62328 154.437113,1637.43531 C154.437113,1636.71146 154.643071,1636.0236 155.001,1635.41472 L156.670666,1637.08538 Z M158.084383,1635.67067 L156.414717,1634.001 C157.022595,1633.64207 157.711458,1633.43611 158.436313,1633.43611 C158.624275,1633.43611 158.805239,1633.46511 158.988202,1633.4901 L158.084383,1635.67067 Z M150.076985,1639.81584 C149.185163,1638.39712 147.717457,1637.38132 145.9998,1637.09238 L145.9998,1633.97301 C148.017397,1633.77205 149.857029,1632.97321 151.340732,1631.75445 L153.558288,1633.97201 C152.54949,1635.39072 152.231554,1637.13737 152.603479,1638.77005 L150.076985,1639.81584 Z M148.9992,1643.0012 C148.9992,1645.20576 147.205559,1647.0004 145,1647.0004 C142.794441,1647.0004 141.0008,1645.20576 141.0008,1643.0012 C141.0008,1642.81224 141.030794,1642.63227 141.056789,1642.45031 L144.609078,1643.92202 C144.610078,1643.92202 144.611078,1643.92302 144.612078,1643.92302 L144.617077,1643.92501 C144.630074,1643.93001 144.644071,1643.92801 144.657069,1643.93301 C144.767047,1643.97301 144.881024,1644.001 145,1644.001 C145.118976,1644.001 145.232953,1643.97301 145.342931,1643.93301 C145.355929,1643.92801 145.369926,1643.93001 145.382923,1643.92501 L145.387922,1643.92302 C145.388922,1643.92302 145.389922,1643.92202 145.390922,1643.92202 L148.943211,1642.45031 C148.969206,1642.63227 148.9992,1642.81224 148.9992,1643.0012 Z M137.39752,1638.77005 C137.769446,1637.13737 137.45051,1635.39072 136.441712,1633.97201 L138.659268,1631.75445 C140.142971,1632.97321 141.983603,1633.77205 144.0002,1633.97301 L144.0002,1637.09238 C142.282543,1637.38132 140.815837,1638.39712 139.923015,1639.81584 L137.39752,1638.77005 Z M134.392122,1640.26375 C133.636273,1641.0186 132.632474,1641.43451 131.564687,1641.43451 C130.495901,1641.43451 129.492102,1641.0186 128.736253,1640.26375 C127.981404,1639.5079 127.565487,1638.5041 127.565487,1637.43531 C127.565487,1636.36753 127.981404,1635.36273 128.736253,1634.60788 C128.869226,1634.47491 129.018196,1634.36693 129.165167,1634.25595 L130.637872,1637.81124 C130.637872,1637.81224 130.637872,1637.81224 130.637872,1637.81324 L130.640872,1637.81924 C130.686863,1637.93121 130.754849,1638.02519 130.833833,1638.11018 C130.841832,1638.11918 130.846831,1638.13217 130.855829,1638.14117 C130.856829,1638.14117 130.856829,1638.14217 130.857828,1638.14317 C130.872825,1638.15817 130.893821,1638.16317 130.909818,1638.17816 C130.977804,1638.23715 131.04979,1638.28614 131.129774,1638.32513 C131.14877,1638.33413 131.161768,1638.35113 131.181764,1638.36013 L131.187762,1638.36213 L131.188762,1638.36313 L134.744051,1639.83583 C134.633073,1639.9818 134.525095,1640.13077 134.392122,1640.26375 Z M131.011798,1633.4901 C131.194761,1633.46511 131.376725,1633.43611 131.564687,1633.43611 C132.288542,1633.43611 132.977405,1633.64207 133.585283,1634.001 L131.915617,1635.67067 L131.011798,1633.4901 Z M135.563887,1637.43531 C135.563887,1637.62328 135.534893,1637.80524 135.509898,1637.9882 L133.329334,1637.08538 L134.999,1635.41472 C135.357928,1636.0226 135.563887,1636.71146 135.563887,1637.43531 Z M129.184163,1629.07698 C130.602879,1628.18516 131.618676,1626.71746 131.907618,1624.9998 L135.05099,1624.9998 C135.245951,1627.0144 136.038792,1628.85203 137.24955,1630.33673 L135.027994,1632.55829 C133.992202,1631.82144 132.782444,1631.43651 131.564687,1631.43651 C131.114777,1631.43651 130.669866,1631.5025 130.229954,1631.60248 L129.184163,1629.07698 Z M125.9988,1627.9992 C123.794241,1627.9992 121.9996,1626.20456 121.9996,1624 C121.9996,1621.79444 123.794241,1620.0008 125.9988,1620.0008 C126.187762,1620.0008 126.368726,1620.03079 126.54969,1620.05679 L125.078984,1623.60908 C125.077984,1623.61008 125.077984,1623.61108 125.076985,1623.61308 L125.074985,1623.61708 C125.070986,1623.62607 125.072985,1623.63607 125.069986,1623.64507 C125.026995,1623.75705 125,1623.87502 125,1623.997 C125,1623.998 124.999,1623.999 124.999,1624 C124.999,1624.001 125,1624.003 125,1624.004 C125,1624.12498 125.026995,1624.24395 125.069986,1624.35593 C125.072985,1624.36493 125.070986,1624.37393 125.074985,1624.38292 L125.076985,1624.38792 C125.077984,1624.38892 125.077984,1624.38992 125.078984,1624.39092 L126.54969,1627.94321 C126.367726,1627.96821 126.187762,1627.9992 125.9988,1627.9992 Z M127.495501,1623.0002 L128.39832,1620.82064 C129.106179,1621.35653 129.627075,1622.11638 129.856029,1623.0002 L127.495501,1623.0002 Z M128.39832,1627.17936 L127.495501,1624.9998 L129.856029,1624.9998 C129.626075,1625.88362 129.106179,1626.64347 128.39832,1627.17936 Z M130.229954,1616.39752 C130.669866,1616.4975 131.115777,1616.56249 131.564687,1616.56249 C132.782444,1616.56249 133.992202,1616.17856 135.027994,1615.44171 L137.271546,1617.68426 C136.057788,1619.16197 135.257948,1620.9926 135.053989,1623.0002 L131.907618,1623.0002 C131.618676,1621.28254 130.602879,1619.81484 129.184163,1618.92302 L130.229954,1616.39752 Z M128.736253,1613.39212 C127.981404,1612.63627 127.565487,1611.63247 127.565487,1610.56369 C127.565487,1609.4959 127.981404,1608.4911 128.736253,1607.73625 C129.492102,1606.9804 130.495901,1606.56449 131.564687,1606.56449 C132.632474,1606.56449 133.636273,1606.9804 134.392122,1607.73625 C134.525095,1607.86823 134.633073,1608.0172 134.744051,1608.16417 L131.188762,1609.63687 L131.187762,1609.63787 L131.181764,1609.63987 C131.14977,1609.65287 131.128774,1609.67886 131.09978,1609.69486 C131.014797,1609.74085 130.929814,1609.78584 130.860828,1609.85483 C130.859828,1609.85583 130.858828,1609.85583 130.857828,1609.85683 C130.856829,1609.85683 130.856829,1609.85783 130.855829,1609.85883 C130.766847,1609.94781 130.69886,1610.05379 130.64987,1610.16777 C130.64787,1610.17277 130.642871,1610.17576 130.640872,1610.18076 L130.637872,1610.18676 C130.637872,1610.18676 130.637872,1610.18776 130.637872,1610.18876 L129.165167,1613.74405 C129.018196,1613.63307 128.869226,1613.5241 128.736253,1613.39212 Z M133.329334,1610.91462 L135.509898,1610.0118 C135.534893,1610.19376 135.563887,1610.37672 135.563887,1610.56369 C135.563887,1611.28854 135.357928,1611.9764 134.999,1612.58528 L133.329334,1610.91462 Z M131.915617,1612.32833 L133.585283,1613.999 C132.977405,1614.35793 132.288542,1614.56289 131.564687,1614.56289 C131.376725,1614.56289 131.194761,1614.53389 131.011798,1614.5089 L131.915617,1612.32833 Z M139.923015,1608.18316 C140.815837,1609.60288 142.282543,1610.61868 144.0002,1610.90762 L144.0002,1614.07798 C141.995601,1614.27694 140.167966,1615.06879 138.689262,1616.27455 L136.441712,1614.02699 C137.45051,1612.60928 137.769446,1610.86263 137.39752,1609.22995 L139.923015,1608.18316 Z M141.0008,1604.9988 C141.0008,1602.79324 142.794441,1600.9996 145,1600.9996 C147.205559,1600.9996 148.9992,1602.79324 148.9992,1604.9988 C148.9992,1605.18676 148.969206,1605.36773 148.943211,1605.54969 L145.390922,1604.07798 C145.389922,1604.07698 145.388922,1604.07698 145.386923,1604.07698 L145.382923,1604.07499 C145.34793,1604.05999 145.311938,1604.06399 145.275945,1604.05399 C145.186963,1604.02799 145.09798,1604 145.003999,1603.999 C145.002,1603.999 145.002,1603.998 145,1603.998 C144.999,1603.998 144.998,1603.999 144.996001,1603.999 C144.882024,1604 144.772046,1604.02699 144.666067,1604.06499 C144.64907,1604.07099 144.633073,1604.06799 144.617077,1604.07499 L144.612078,1604.07698 C144.611078,1604.07698 144.610078,1604.07698 144.609078,1604.07798 L141.056789,1605.54969 C141.030794,1605.36773 141.0008,1605.18676 141.0008,1604.9988 Z M152.603479,1609.22995 C152.230554,1610.86263 152.54949,1612.60928 153.558288,1614.02699 L151.311738,1616.27455 C149.833033,1615.06879 148.004399,1614.27694 145.9998,1614.07798 L145.9998,1610.90762 C147.717457,1610.61868 149.185163,1609.60288 150.076985,1608.18316 L152.603479,1609.22995 Z M155.608878,1607.73625 C156.363727,1606.9804 157.367526,1606.56449 158.436313,1606.56449 C159.504099,1606.56449 160.508898,1606.9804 161.263747,1607.73625 C162.019596,1608.4911 162.435513,1609.4959 162.435513,1610.56369 C162.435513,1611.63247 162.019596,1612.63627 161.263747,1613.39212 C161.130774,1613.5241 160.981804,1613.63307 160.834833,1613.74405 L159.362128,1610.18876 C159.362128,1610.18776 159.362128,1610.18676 159.362128,1610.18676 L159.359128,1610.18076 C159.357129,1610.17477 159.35213,1610.17077 159.34913,1610.16477 C159.29914,1610.05179 159.232154,1609.94681 159.144171,1609.85883 C159.144171,1609.85783 159.143171,1609.85683 159.143171,1609.85683 C159.142172,1609.85583 159.141172,1609.85583 159.141172,1609.85583 C159.058188,1609.77285 158.958208,1609.71186 158.853229,1609.66287 C158.840232,1609.65687 158.832234,1609.64587 158.818236,1609.63987 L158.812238,1609.63787 L158.811238,1609.63687 L155.255949,1608.16417 C155.367926,1608.0172 155.475905,1607.86823 155.608878,1607.73625 Z M158.988202,1614.5089 C158.805239,1614.53389 158.624275,1614.56289 158.436313,1614.56289 C157.711458,1614.56289 157.022595,1614.35793 156.414717,1613.998 L158.084383,1612.32833 L158.988202,1614.5089 Z M154.437113,1610.56369 C154.437113,1610.37672 154.466107,1610.19476 154.491102,1610.0118 L156.670666,1610.91462 L155.001,1612.58428 C154.643071,1611.9764 154.437113,1611.28854 154.437113,1610.56369 Z M147.413517,1623.0002 L151.29974,1619.11398 C152.160568,1620.21576 152.738452,1621.54649 152.925415,1623.0002 L147.413517,1623.0002 Z M147.414517,1624.9998 L152.933413,1624.9998 C152.754449,1626.46051 152.180564,1627.79824 151.320736,1628.90702 L147.414517,1624.9998 Z M145.9998,1626.41352 L149.911018,1630.32474 C148.80224,1631.19056 147.463507,1631.77045 145.9998,1631.95441 L145.9998,1626.41352 Z M144.0002,1626.41352 L144.0002,1631.95441 C142.536493,1631.77045 141.19776,1631.19056 140.088982,1630.32474 L144.0002,1626.41352 Z M142.586483,1624.9998 L138.679264,1628.90702 C137.819436,1627.79824 137.245551,1626.46051 137.066587,1624.9998 L142.586483,1624.9998 Z M142.586483,1623.0002 L137.074585,1623.0002 C137.261548,1621.54649 137.839432,1620.21576 138.70026,1619.11398 L142.586483,1623.0002 Z M144.0002,1621.58648 L140.117976,1617.70326 C141.220756,1616.85043 142.54949,1616.27854 144.0002,1616.09558 L144.0002,1621.58648 Z M145.9998,1616.09558 C147.45051,1616.27854 148.779244,1616.85043 149.882024,1617.70326 L145.9998,1621.58648 L145.9998,1616.09558 Z M144.0002,1608.85603 C143.116377,1608.62607 142.356529,1608.10518 141.820636,1607.39732 L144.0002,1606.4945 L144.0002,1608.85603 Z M148.179364,1607.39732 C147.644471,1608.10518 146.883623,1608.62607 145.9998,1608.85603 L145.9998,1606.4945 L148.179364,1607.39732 Z M145.9998,1639.14397 C146.883623,1639.37393 147.643471,1639.89382 148.179364,1640.60168 L145.9998,1641.5055 L145.9998,1639.14397 Z M141.820636,1640.60168 C142.356529,1639.89382 143.116377,1639.37393 144.0002,1639.14397 L144.0002,1641.5055 L141.820636,1640.60168 Z M160.815837,1618.92302 C159.397121,1619.81584 158.381324,1621.28254 158.092382,1623.0002 L154.946011,1623.0002 C154.742052,1620.9926 153.942212,1619.16197 152.729454,1617.68426 L154.972006,1615.44071 C156.008798,1616.17856 157.218556,1616.56249 158.436313,1616.56249 C158.885223,1616.56249 159.330134,1616.4975 159.770046,1616.39752 L160.815837,1618.92302 Z M161.602679,1620.82064 L162.504499,1623.0002 L160.144971,1623.0002 C160.373925,1622.11738 160.894821,1621.35653 161.602679,1620.82064 Z M160.144971,1624.9998 L162.504499,1624.9998 L161.602679,1627.17936 C160.894821,1626.64347 160.373925,1625.88362 160.144971,1624.9998 Z M164.0012,1620.0008 C166.206759,1620.0008 168.0004,1621.79444 168.0004,1624 C168.0004,1626.20456 166.206759,1627.9992 164.0012,1627.9992 C163.812238,1627.9992 163.632274,1627.96821 163.45031,1627.94321 L164.921016,1624.39092 C164.922016,1624.38992 164.922016,1624.38892 164.923015,1624.38792 L164.925015,1624.38292 C164.929014,1624.37393 164.927015,1624.36493 164.930014,1624.35593 C164.973005,1624.24395 165,1624.12498 165,1624.004 C165,1624.003 165.001,1624.001 165.001,1624 C165.001,1623.999 165,1623.998 165,1623.997 C165,1623.87502 164.973005,1623.75705 164.930014,1623.64507 C164.927015,1623.63607 164.929014,1623.62607 164.925015,1623.61708 L164.923015,1623.61308 L164.921016,1623.60908 L163.45031,1620.05679 C163.632274,1620.03079 163.812238,1620.0008 164.0012,1620.0008 Z M164.0012,1629.9988 C167.314537,1629.9988 170,1627.31234 170,1624 C170,1620.68666 167.314537,1618.0012 164.0012,1618.0012 C163.540292,1618.0012 163.094381,1618.05819 162.663467,1618.15617 L161.619676,1615.63667 C161.993601,1615.40072 162.352529,1615.13177 162.677465,1614.80584 C165.019996,1612.46331 165.019996,1608.66507 162.677465,1606.32254 C161.506699,1605.15077 159.971006,1604.56489 158.436313,1604.56489 C156.90062,1604.56489 155.365927,1605.15077 154.194161,1606.32254 C153.869226,1606.64747 153.59928,1607.0064 153.364327,1607.38032 L150.843831,1606.33653 C150.941812,1605.90562 150.9988,1605.45971 150.9988,1604.9988 C150.9988,1601.68546 148.313337,1599 145,1599 C141.687662,1599 139.0012,1601.68546 139.0012,1604.9988 C139.0012,1605.45971 139.058188,1605.90562 139.156169,1606.33653 L136.636673,1607.38032 C136.40072,1607.0064 136.131774,1606.64747 135.805839,1606.32254 C134.635073,1605.15077 133.09938,1604.56489 131.564687,1604.56489 C130.028994,1604.56489 128.493301,1605.15077 127.322535,1606.32254 C124.980004,1608.66507 124.980004,1612.46331 127.322535,1614.80584 C127.64847,1615.13177 128.006399,1615.40072 128.380324,1615.63667 L127.337532,1618.15617 C126.906619,1618.05819 126.459708,1618.0012 125.9988,1618.0012 C122.685463,1618.0012 120,1620.68666 120,1624 C120,1627.31234 122.685463,1629.9988 125.9988,1629.9988 C126.459708,1629.9988 126.905619,1629.94181 127.337532,1629.84383 L128.380324,1632.36333 C128.006399,1632.59828 127.64847,1632.86823 127.322535,1633.19416 C124.980004,1635.53669 124.980004,1639.33493 127.322535,1641.67746 C128.493301,1642.84923 130.028994,1643.43411 131.564687,1643.43411 C133.09938,1643.43411 134.635073,1642.84923 135.805839,1641.67746 C136.131774,1641.35153 136.40072,1640.9936 136.636673,1640.61968 L139.156169,1641.66347 C139.058188,1642.09338 139.0012,1642.54029 139.0012,1643.0012 C139.0012,1646.31454 141.687662,1649 145,1649 C148.313337,1649 150.9988,1646.31454 150.9988,1643.0012 C150.9988,1642.54029 150.941812,1642.09338 150.843831,1641.66347 L153.364327,1640.61868 C153.59928,1640.9936 153.869226,1641.35153 154.194161,1641.67746 C155.365927,1642.84923 156.90062,1643.43411 158.436313,1643.43411 C159.971006,1643.43411 161.506699,1642.84923 162.677465,1641.67746 C165.019996,1639.33493 165.019996,1635.53669 162.677465,1633.19416 C162.352529,1632.86823 161.993601,1632.59828 161.619676,1632.36333 L162.663467,1629.84383 C163.094381,1629.94181 163.540292,1629.9988 164.0012,1629.9988 Z" id="Fill-1"></path>
		        </g>
		    </g>
		</svg></div>	
				<div class="feature__content">
				<div class="feature__title">AI-ready infrastructure</div>
				<p>We are the first to have AIRI, the most advanced architecture ever built for scale-out AI. Specifically designed for deep learning by NVIDIA and Pure, AIRI has a GPU performance of more than 10 petaFLOPS, allowing us to train models at an unprecedented scale.</p>
				</div>
			</div>
		</div>
			<div class="col-6">
			<div class="career-feature pb-3">
				<div class="feature__icon">
		<svg width="50px" height="50px" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="no-fill-fix">
		    <!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch -->
		    <desc>Created with Sketch.</desc>
		    <defs>
		        <linearGradient x1="18.7237194%" y1="20.5773999%" x2="75.722716%" y2="77.7554266%" id="linearGradient-1">
		            <stop stop-color="#8821FF" offset="0%"></stop>
		            <stop stop-color="#1085CF" offset="100%"></stop>
		        </linearGradient>
		    </defs>
		    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		        <g id="Careeers" transform="translate(-620.000000, -1591.000000)" fill="url(#linearGradient-1)">
		            <path d="M644,1591 L644,1602.001 L641.999,1602.001 L641.999,1608 L638,1608 L638,1626.031 L634,1626.031 L634,1604 L630,1604 L630,1600 L623.999,1600 L623.999,1604 L620,1604 L620,1624 L621.999,1624 L621.999,1606 L623.999,1606 L623.999,1641 L626,1641 L626,1606 L628,1606 L628,1628.031 L631.999,1628.031 L631.999,1641 L634,1641 L634,1628.031 L638,1628.031 L638,1641 L639.999,1641 L639.999,1628.031 L644,1628.031 L644,1610.001 L646,1610.001 L646,1616 L648,1616 L648,1610.001 L649.999,1610.001 L649.999,1641 L652,1641 L652,1608 L648,1608 L648,1602.001 L646,1602.001 L646,1591 L644,1591 Z M626,1604.001 L628,1604.001 L628,1602.001 L626,1602.001 L626,1604.001 Z M644,1608 L646,1608 L646,1604 L644,1604 L644,1608 Z M630,1626.03 L632,1626.03 L632,1606 L630,1606 L630,1626.03 Z M639.999,1626.031 L641.999,1626.031 L641.999,1610.001 L639.999,1610.001 L639.999,1626.031 Z M660,1602.031 L662,1602.031 L662,1600.03 L660,1600.03 L660,1602.031 Z M660,1606.031 L662,1606.031 L662,1604.031 L660,1604.031 L660,1606.031 Z M660,1610.031 L662,1610.031 L662,1608.03 L660,1608.03 L660,1610.031 Z M656,1612.001 L656,1641 L657.999,1641 L657.999,1614 L667.999,1614 L667.999,1637.001 L670,1637.001 L670,1612.001 L656,1612.001 Z M660,1618.031 L662,1618.031 L662,1616.031 L660,1616.031 L660,1618.031 Z M646,1620.031 L648.001,1620.031 L648.001,1618.03 L646,1618.03 L646,1620.031 Z M660,1622.031 L662,1622.031 L662,1620.031 L660,1620.031 L660,1622.031 Z M646,1624.031 L648.001,1624.031 L648.001,1622.031 L646,1622.031 L646,1624.031 Z M660,1626.031 L662,1626.031 L662,1624.031 L660,1624.031 L660,1626.031 Z M646,1628.031 L648.001,1628.031 L648.001,1626.03 L646,1626.03 L646,1628.031 Z M620.001,1628.031 L622.001,1628.031 L622.001,1626.03 L620.001,1626.03 L620.001,1628.031 Z M660,1630.01 L662,1630.01 L662,1628.01 L660,1628.01 L660,1630.01 Z M646,1632.011 L648.001,1632.011 L648.001,1630.01 L646,1630.01 L646,1632.011 Z M620.001,1632.011 L622.001,1632.011 L622.001,1630.01 L620.001,1630.01 L620.001,1632.011 Z M642,1633 L644,1633 L644,1631 L642,1631 L642,1633 Z M660,1634.011 L662,1634.011 L662,1632.011 L660,1632.011 L660,1634.011 Z M646,1636.011 L648.001,1636.011 L648.001,1634.011 L646,1634.011 L646,1636.011 Z M620.001,1636.011 L622.001,1636.011 L622.001,1634.011 L620.001,1634.011 L620.001,1636.011 Z" id="Fill-1"></path>
		        </g>
		    </g>
		</svg></div>	
				<div class="feature__content">
				<div class="feature__title">NYC location</div>
				<p>Our Roosevelt Island office is halfway between Manhattan and Queens, putting us in the heart of one of the world’s greatest cities. We’re part of the Cornell Tech campus, immersing us in one of the nation’s most innovative academic and startup communities.</p>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="career-image">
	<img src="assets/img/careers-lab.jpg">
</div>

{{#with careers}}
	{{#if jobs}}
		<div class="job-openings py-margin">
			<div class="container pt-2">
				<div class="job-openings__header pb-2">
					<div class="job-openings__title">
						<h2>Open Positions</h2>
					</div>
				</div>
				<div class="jobs">
					<div class="grid-flex v-spaced">
						{{#with careers}}
							{{#each jobs}}
								<div class="col-6">
									<div class="job">
										<h3>{{ title }}</h3>
										<p>{{ description }}</p>
										<a href="{{ link }}" class="button--gradient"><span>Apply <i class="material-icons">arrow_forward</i></span></a>
									</div>
								</div>
							{{/each}}
						{{/with}}
					</div>
				</div>
			</div>
		</div>
	{{/if}}
{{/with}}

<div class="our-facilities py-margin">
	<div class="container">
		<h2>Our Facilities</h2>
		<div class="facility-images">
			<div class="grid-flex tight-gutter">
				{{#with careers}}
					{{#each facilities}}
					<div class="col">
						<div class="facility-image">
							<img src="{{ img }}">
						</div>
					</div>
					{{/each}}
				{{/with}}
			</div>
		</div>
		</div>
	</div>
</div>
<hr class="dark my-0">
{{> featured-companies }}