---
title: PAIGE | Contact
meta-url: /contact
layout: default
hero-callout: Our offices are located at the Cornell Tech campus on Roosevelt Island in the borough of Manhattan in New York City
hero-intensity: light
hero-pattern: true
body-class: contact
---

{{> page-hero }}

<div class="contact-info py-margin">
	<div class="container py-1">
		<div class="contact-groups grid-flex break-lg">

			<div class="col-8 order-2 contact-group ">
				<div class="card">
					<img src="/assets/img/location-map.png">
					<div class="contact-group__contact p-gutter">
						<div class="grid-flex tight-gutter break-sm v-spaced">
							<div class="col grow">
								<div class="contact__title p bold">Tata Innovation Center </div>
								<p><a href="https://goo.gl/maps/QDrDRxe3MAu" target="_blank">
									11 East Loop Road, 5th Floor <br/>
									New York, NY 10044
									</a>
								</p>
							</div>
							<div class="col no-grow">
								<a class="button--gradient small" ref="https://goo.gl/maps/QDrDRxe3MAu" target="_blank"><span>Directions</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>

	 		<div class="col-4 order-1">
				<div class="contact-group">
					<div class="contact-group__title">General Inquiries</div>
					<div class="contact-group__contact">
						<a href="mailto:info@paige.ai">Info@paige.ai</a>
					</div>
				</div>

				<div class="contact-group">
					<div class="contact-group__title">Press</div>
					<div class="contact-group__contact">
						<div class="contact__title">Kathleen B. Reynolds</div>
						<div class="contact__links">
							<a href="mailto:kreynolds@cooperkatz.com ">kreynolds@cooperkatz.com </a><br/>
							<a href="tel:9175953031">917 595 3031</a>
						</div>
					</div>
				</div>

				<div class="contact-group">
					<div class="contact-group__title">Follow Us</div>
					<div class="contact__links">
						<a href="mailto:kreynolds@cooperkatz.com ">LinkedIn</a><br/>
						<a href="mailto:kreynolds@cooperkatz.com ">Twitter</a><br/>
						<a href="mailto:kreynolds@cooperkatz.com ">Facebook</a><br/>
					</div>
				</div>
			</div>

			
		</div>
	</div>
</div>

{{> who-is-paige }}