---
title: PAIGE
page-template: home
background: assets/img/bg-home.jpg
meta-url: /
layout: default
step: 0
body-class: home
---
<div class="home-intro">
	<div class="container">
		<div class="grid-flex middle break-lg">
			<div class="col-7 col-logo">
				<div class="home-intro__logo">
					{{> paige-logo no-fill='true' }}
				</div>
			</div>
			<div class="col-5">
			<div class="home-intro__info ">
				<p class="large-callout">Paige uses AI to bring clarity, confidence, and efficiency to pathology with ease.</p>
				<p>PAIGE helps pathologists to be more efficient, researchers to be more quantitative, and patients to be more confident in their diagnosis</p>
				<a class="button--down-arrow go-to" href="#who-is">
					<svg class="no-fill-fix" width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					    <defs>
					        <linearGradient x1="18.7237194%" y1="20.5773999%" x2="75.722716%" y2="77.7554266%" id="linearGradient-1">
					            <stop stop-color="#8821FF" offset="0%"></stop>
					            <stop stop-color="#1085CF" offset="100%"></stop>
					        </linearGradient>
					    </defs>
					    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					        <g id="Home" transform="translate(-120.000000, -546.000000)" fill="url(#linearGradient-1)">
					            <g id="Group-5">
					                <g id="Group-8" transform="translate(120.000000, 284.000000)">
					                    <g id="Group-9" transform="translate(0.000000, 248.000000)">
					                        <path d="M20,54 C8.954305,54 0,45.045695 0,34 C0,22.954305 8.954305,14 20,14 C31.045695,14 40,22.954305 40,34 C40,45.045695 31.045695,54 20,54 Z M20,52 C29.9411255,52 38,43.9411255 38,34 C38,24.0588745 29.9411255,16 20,16 C10.0588745,16 2,24.0588745 2,34 C2,43.9411255 10.0588745,52 20,52 Z M28,34 L20,42 L12,34 L13.4502924,32.5964912 L19.0175439,38.1637427 L19.0175439,26 L20.9824561,26 L20.9824561,38.1637427 L26.5964912,32.5964912 L28,34 Z" id="Combined-Shape"></path>
					                    </g>
					                </g>
					            </g>
					        </g>
					    </g>
					</svg>
					Learn More</a>
			</div>
			</div>
		</div>
	</div>
</div>

<div class="home-who-is" id="who-is">
	<div class="letter-section empty-section">
		<div class="clip-section">
			<div class="clip-content">
				<div class="container">
					<div class="grid-flex no-gutter">
						<div class="col-6">{{> paige-logotype-lg no-fill='true' }}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="letter-section highlight-p">
		<div class="clip-section">
			<div class="clip-content">
				<div class="container">
					<div class="grid-flex no-gutter">
						<div class="col-6">{{> paige-logotype-lg no-fill='true' }}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="grid-flex right no-gutter">
				<div class="col-6">
					<div class="who-is__info">
						<div class="home-who-is__factiod pt-margin pb-3">
							<span class="paige-word"><strong>P</strong>athology</span>
							<p>Pathology is on the verge of a revolution from a qualitative  to a quantitative discipline. The PAIGE AI is trained by the world's foremost cancer experts on hundreds of thousands  of digital slides.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="letter-section highlight-ai">
		<div class="clip-section">
			<div class="clip-content">
				<div class="container">
					<div class="grid-flex no-gutter">
						<div class="col-6">{{> paige-logotype-lg no-fill='true' }}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="grid-flex right no-gutter">
				<div class="col-6">
					<div class="who-is__info">
						<div class="home-who-is__factiod py-3">
							<span class="paige-word"><strong class="blue">A</strong>rtificial <strong class="blue">I</strong>ntelligence</span>
							<p>Artificial Intelligence is the core of PAIGE. Our team of Machine Learning experts has a decade of experience in building large scale ML systems for Computational Pathology. We develop novel deep learning and ensemble models to create the first clinical-grade AI in pathology</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="letter-section highlight-g">
		<div class="clip-section">
			<div class="clip-content">
				<div class="container">
					<div class="grid-flex no-gutter">
						<div class="col-6">{{> paige-logotype-lg no-fill='true' }}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="grid-flex right no-gutter">
				<div class="col-6">
					<div class="who-is__info">
						<div class="home-who-is__factiod py-3">
							<span class="paige-word"><strong>G</strong>uidance</span>
							<p>It is PAIGE's mission to guide pathologists, clinicians and researchers, through a robust clinical decision support system that allows experts to be more efficient and reproducible.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="letter-section highlight-e">
		<div class="clip-section">
			<div class="clip-content">
				<div class="container">
					<div class="grid-flex no-gutter">
						<div class="col-6">{{> paige-logotype-lg no-fill='true' }}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="grid-flex right no-gutter">
				<div class="col-6">
					<div class="who-is__info">
						<div class="home-who-is__factiod pt-3 pb-margin">
							<span class="paige-word"><strong>E</strong>ngine</span>
							<p>PAIGE is powered by a dedicated high performance compute cluster with hundreds of GPUs. enabling deep learning at unprecedented scale in pathology. Our unique, scanner-neutral slide viewer enables real-time access to PAIGE's capabilities</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="letter-section filled-section">
		<div class="clip-section">
			<div class="clip-content">
				<div class="container">
					<div class="grid-flex no-gutter">
						<div class="col-6">{{> paige-logotype-lg no-fill='true' }}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="home-mission pattern-bg dark-bg">
		<div class="grid-flex break-lg stretch no-gutter">
			<div class="col-6 img-col">
				<div class="home-mission__image">
					<img src="assets/img/home-mission.png">
				</div>
			</div>
	 		<div class="col-6 info-col">
				<div class="home-mission__info pb3">
					<div>
						<h2>Our Mission</h2>
						<p class="light-text-color">To revolutionize the clinical diagnosis and treatment of cancer through the use of artificial intelligence. We will accomplish this with our team's exceptional expertise and exclusive and unprecedented access to a massive pathology data treasure.</p>
						<a class="button--gradient"><span>Join Us<i class="material-icons">arrow_forward</i></span></a>
					</div>
				</div>
			</div>
		</div>
</div>

<div class="home-medical-ai" data-module-init="graph-entrance">
	
	<div class="uncover-graph">
		<div class="graph">
			<svg class="no-fill-fix" viewBox="0 0 1198 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none">

			  <defs></defs>
			  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
			      <g id="Home" transform="translate(-2.000000, -2469.000000)" stroke="#E0E3E7" stroke-width="3">
			          <path d="M2,2979 C152.574219,2979 264.085938,2875.98529 444.947754,2875.98529 C625.80957,2875.98529 627.138584,2901.63742 797.407183,2747.5684 C967.675781,2593.49938 1120.59375,2682.08282 1202,2468" id="Path-2-Copy"></path>
			      </g>
			  </g>
			</svg>
		</div>
	</div>
	<div class="home-medical-ai__graph">
		<svg class="no-fill-fix" viewBox="0 0 1198 512" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none">

		    <defs></defs>
		    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		        <g id="Home" transform="translate(-2.000000, -2469.000000)" stroke="#E0E3E7" stroke-width="3">
		            <path d="M2,2979 C152.574219,2979 264.085938,2875.98529 444.947754,2875.98529 C625.80957,2875.98529 627.138584,2901.63742 797.407183,2747.5684 C967.675781,2593.49938 1120.59375,2682.08282 1202,2468" id="Path-2-Copy"></path>
		        </g>
		    </g>
		</svg>
		
		<div class="graph-data">
			<div class="graph-y">
				<div class="amount">100k</div>
				<div class="amount">80k</div>
				<div class="amount">60k</div>
				<div class="amount">40k</div>
				<div class="amount">0k</div>
			</div>
			<div class="graph-x">
				<div class="year">2015</div>	
				<div class="year">2016</div>
				<div class="year">2017</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="home-medical-ai__info py-margin">
			<div class="pb-3">
				<h2>Medical AI at an unprecedented scale</h2>
				<p>Leading Cancer Centers scan up to <strong>40K pathology slides each month</strong>, an enormous treasure of training data for <strong>powerful predictive models</strong>. PAIGE will digitize millions of additional archived slides in the next few years.</p>
			</div>
		</div> 
	</div>
</div> 

{{> featured-companies }}
