---
title: PAIGE | News
meta-url: /news
page-template: default
layout: default
hero-title: News
hero-intensity: light
hero-pattern: true
body-class: news
---
{{> page-hero }}
<div class="news-posts py-margin">
	<div class="container">
		<div class="posts">
			<div class="grid-flex left v-spaced">
				{{#posts}}
				  {{#withSort (first items 7) "data.date" reverse="true" }}
				  	{{#contains data.tags 'featured' }}
				  		<div class="col-12">
					  		{{> post-snippet-featured }}
					  	</div>
				  	{{else}}
					  	<div class="col-4">
					  		{{> post-snippet }}
					  	</div>
					  {{/contains}}
				  {{/withSort}}
				{{/posts}}
			</div>
		</div>
	</div>
</div>

{{> who-is-paige }}

	{{#posts}}
		{{#if (gt items.length 7) }}
	  {{#withSort (itemAt items 6) "data.date" reverse="true" }}
	  	{{> post-snippet }}
	  {{/withSort}}
	  {{/if}}
	{{/posts}}


{{!-- {{#if length post_pages > 0}}
	{{#post_pages}}
	page {{ idx }} 
	  {{#each items}}
		  <li >  <a  href ="#" > {{ data.title }} {{ data.date}}</a >  </li>
	  {{/each}}
	{{/post_pages}}
{{/if}} --}}

{{> featured-companies }}