---
title: PAIGE | Team
meta-url: /team
layout: default
hero-title: Our Team
hero-text: PAIGE is being built by a dedicated team of Machine Learning experts and pathologists from the leading cancer center in the US and experienced business leadership.
hero-button-text: Join Us
hero-button-link: /careers
hero-intensity: light
hero-pattern: true
body-class: team
---

{{> page-hero }}

{{!-- <div class="leadership">
	<h2>Leadership</h2>	
	<div class="members">  		
		{{#each tags as |members tag|}}
			{{#is tag "leader" }}
	  		{{#withSort members "data.order" }}
	  			{{team_member key}}
		  	{{/withSort}}
	  	{{/is}}
		{{/each}}
	  	
	</div>
</div> --}}

<div class="team-members py-margin" data-module-init="members-slideshow">
	<div class="container">
		
			
		{{!-- 	<div class="team-members__header">
				<div class="grid-flex">
					<div class="col-6">
						<h2>Team</h2>
					</div>
					<div class="col-6">
						<p>PAIGE is constantly looking for the best and brightest in the machine learning and pathology fields. At PAIGE you will work with the best and reach your potential
						</p>
						<a href="/careers" class="button--gradient"><span>Join Us<i class="material-icons">arrow_forward</i></span></a>
					</div>
				</div>
			</div>
 --}}
			<div class="members">
				<div class="grid-flex break-sm left v-spaced">
					{{#each tags as |members tag|}}
						{{#is tag "team" }}
				  		{{#withSort members "data.order"}}
				  			<div class="col">
				  				{{> member-snippet }}
				  			</div>
					  	{{/withSort}}
				  	{{/is}}
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="scientific-advisory-board py-margin">
	<div class="container">
		<h2>Scientific Advisory Board</h2>
		<div class="members">
			<div class="grid-flex break-sm v-spaced left">
				{{#each tags as |members tag|}}
					{{#is tag "scientific" }}
			  		{{#withSort members "data.order"}}
			  			<div class="col">
			  				{{> member-snippet }}
			  			</div>
				  	{{/withSort}}
			  	{{/is}}
				{{/each}}
			</div>
		</div>
	</div>
</div>

<div class="our-investors py-margin">
	<div class="container">
		<h2>Our Investors</h2>
		<div class="investor-list">
			<div class="grid-flex v-spaced">
				<div class="col-6">
					<div class="investor">
						<img src="assets/img/careers-investor-1.png">
					</div>
				</div>
				<div class="col-6">
					<div class="investor">
						<img src="assets/img/careers-investor-2.png">
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>

{{> join-us }}

{{> featured-companies }}