<div class="featured-companies pt-margin" >
	<div class="container">
		<div class="featured-companies__title">Featured In</div>
	</div>
	<div class="featured-slideshow">
		<div class="featured-prev"></div>
		<div class="container">
			<div class="arrow-prev">
				<i class="material-icons md-24">arrow_back</i>
			</div>
			<div class="featured-slides" data-module-init="carousel" data-featured='true'>
			  {{#each site.companies}}
					<a href="_blank" class="featured-slides__slide" href="{{ url }}" class="slide">
						<img src="{{ site.root }}{{ img }}"/>					
					</a>
			  {{/each}} 
		  </div>
		  <div class="arrow-next">
		  	<i class="material-icons md-24">arrow_forward</i>
		  </div>
  	</div>
  	<div class="featured-next"></div>
	</div>
</div>