<footer>
	<div class="container">
		<div class="grid-flex">
			<div class="col order-2">
				<ul class="footer-links">
					<li><a href="#" target="_blank">Facebook</a></li>
					<li><a href="#" target="_blank">LinkedIn</a></li>
					<li><a href="#" target="_blank">Twitter</a></li>
				</ul>
			</div>
			<div class="col order-1">
				<span class="copyright">Copyright &copy; {{ date "today" "YYYY" }} PAIGE</span>
			</div>
		</div>

</footer>