<header data-module-init="header">
	<div class="container">
		<div class="logo">
			<div class="small-mark">
				{{> paige-icon-simple}}
			</div>
			<a href="/" class="transition-link"><svg class="logotype" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 width="74px" height="21px" viewBox="0 0 74 21" enable-background="new 0 0 74 21" xml:space="preserve">
		<path fill="#FFFFFF" d="M0.518,20.2V0.909h7.998c0.93,0,1.736,0.173,2.42,0.52s1.249,0.797,1.695,1.354
		c0.456,0.547,0.793,1.162,1.012,1.846c0.228,0.674,0.342,1.358,0.342,2.051s-0.127,1.381-0.383,2.064
		c-0.255,0.674-0.615,1.29-1.08,1.846c-0.465,0.547-1.035,0.993-1.709,1.34c-0.666,0.347-1.431,0.52-2.297,0.52H3.088V20.2H0.518z
		 M3.088,10.069h4.895c1.012,0,1.836-0.296,2.475-0.889c0.647-0.602,0.971-1.436,0.971-2.502c0-1.048-0.324-1.877-0.971-2.488
		c-0.638-0.62-1.463-0.93-2.475-0.93H3.088V10.069z M15.95,20.2l6.713-19.291h2.611l6.74,19.291h-2.707l-1.518-4.334h-7.67
		L18.63,20.2H15.95z M20.954,13.515h6.029l-1.545-4.594l-1.436-4.484h-0.11l-1.394,4.484L20.954,13.515z M35.607,20.2V0.909h2.571
		V20.2H35.607z M43.014,14.062V7.007c0-0.966,0.196-1.836,0.588-2.611c0.393-0.775,0.921-1.436,1.586-1.982
		c0.675-0.556,1.454-0.975,2.338-1.258c0.894-0.292,1.832-0.438,2.816-0.438c1.066,0,2.051,0.141,2.953,0.424
		c0.912,0.273,1.728,0.711,2.447,1.312l-1.285,2.01c-0.501-0.428-1.13-0.761-1.887-0.998c-0.756-0.246-1.499-0.369-2.229-0.369
		c-0.602,0-1.18,0.086-1.736,0.26c-0.556,0.164-1.062,0.424-1.518,0.779c-0.446,0.346-0.807,0.802-1.08,1.367
		c-0.264,0.556-0.396,1.235-0.396,2.037v6.029c0,0.784,0.123,1.463,0.369,2.037c0.256,0.565,0.593,1.025,1.012,1.381
		c0.429,0.347,0.912,0.606,1.449,0.779c0.538,0.164,1.099,0.246,1.682,0.246c0.429,0,0.976-0.06,1.641-0.178
		c0.675-0.118,1.358-0.442,2.051-0.971v-4.498h-3.076v-2.324h5.619v7.834c-0.392,0.446-0.838,0.834-1.34,1.162
		c-0.501,0.328-1.029,0.593-1.586,0.793c-0.547,0.191-1.107,0.333-1.682,0.424c-0.564,0.091-1.107,0.137-1.627,0.137
		c-0.93,0-1.827-0.142-2.693-0.424c-0.856-0.292-1.613-0.706-2.27-1.244c-0.646-0.547-1.166-1.212-1.559-1.996
		C43.21,15.943,43.014,15.055,43.014,14.062z M60.524,20.2V0.909h12.879v2.352H63.095v6.125h8.818v2.324h-8.818v6.166h10.309V20.2
		H60.524z"/>
		</svg>
		</a>
	</div>
	<div class="menu-link">
		<div class="menu-icon">
			<div class="center"></div>
		</div>
	</div>
		<nav class="main-menu">
			{{#each site.menu-links}}
				<a class="transition-link" href="{{ link }}">{{ title }}</a>
		  {{/each}}
		</nav>
	</div>
</header>
