<div class="join-us pattern-bg gradient-bg">
	<div class="container">
	<h2>Join Us</h2>
	<p>We are building the finest squad of Machine Learning experts and pathologists from around the world.</p>
	{{#if ( eq body-class 'careers') }}
		<a class="button--gradient"><span>View Positions</span></a>
	{{else}}
	<div class="grid-flex center">
		<div class="col">
			<a href="https://paigeai.bamboohr.com/jobs/" class="button--white" target="_blank"><span>Apply Now</span></a>
		</div>
		<div class="col">
			<a href="/careers" class="button--dark">About Careers</a>
		</div>
	</div>
	{{/if}}
	</div>
</div>