<div class="member-snippet pb-2">
	<div class="member-snippet__image">
		<img src="{{ data.image }}">
	</div>
	<div class="mt-tight-gutter">
		<div class="member-snippet__name">{{ data.name }}</div>
		<div class="member-snippet__title">
			<div class="grid-flex tight-gutter no-break middle">
				<div class="col grow ellipsis">
					<span class="ellipsis">{{ data.job-title }}</span>
				</div>
				<div class="col no-grow">
					<div class="grid-flex no-break no-gutter middle">
					{{#if data.twitter}}<div class="col"><a class="ml-1 member-icon" href="{{ data.twitter }}" target="_blank">{{> twitter-icon }}</a></div>{{/if}}
					{{#if data.linkedin}}<div class="col"><a class="ml-1 member-icon" href="{{ data.linkedin }}" target="_blank">{{> linkedin-icon }}</a></div>{{/if}}
					{{#if data.contact}}<div class="col"><a class="ml-1 member-icon" href="matil:{{ data.contact }}">{{> mail-icon }}</a></div>{{/if}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="member-content">
		{{team_member key}}
	</div>

</div>