<div class="more-news">
	<div class="container">
		<h2>More News</h2>
		<div class="grid-flex left v-spaced">
			{{#posts}}
		 	{{#withSort (first items 3) "data.date" reverse="true" }}
			 	<div class="col-4">
			  	{{> post-snippet }}
			  </div>
		  {{/withSort}}
		{{/posts}}
		</div>
		<a class="button--gradient"><span>All News <i class="material-icons">arrow_forwards</i></span></a>
	</div>
</div>