<div class="page-hero--{{ hero-intensity }} {{#if hero-pattern }}pattern-bg{{/if}}" {{#if hero-image }}style="background-image:url('{{ hero-image }}');"{{/if}}>
	<div class="full-width">
		<div class="container">		
			{{#if hero-title }}
				<div class="page-hero__title">{{ hero-title }}</div>
			{{/if}}
			{{#if hero-callout }}
				<div class="page-hero__callout">{{ hero-callout }}</div>
			{{/if}}
			{{#if hero-text }}
				<p>{{ hero-text }}</p>
			{{/if}}
			{{#if hero-button-text }}
					<a class="{{#if (eq hero-intensity "dark") }}button--white{{else}}button--gradient{{/if}}" href="{{ hero-button-link }}"><span>{{ hero-button-text }} <i class="material-icons">arrow_forward</i></span></a>
			{{/if}}
		</div>
	</div>
</div>