<svg viewBox="0 0 713.162 202.134">
	<path class="letter-p" d="M0,200.167V1.967h85.742c9.589,0,17.956,1.826,25.103,5.478c7.146,3.652,13.021,8.358,17.629,14.117
		c4.606,5.759,8.062,12.221,10.365,19.385c2.303,7.164,3.455,14.306,3.455,21.421c0,7.085-1.295,14.191-3.883,21.323
		c-2.59,7.131-6.33,13.61-11.224,19.435c-4.895,5.825-10.874,10.557-17.933,14.191c-7.061,3.635-15.108,5.452-24.145,5.452H32.729
		v77.397H0z M32.729,93.131H78.24c9.552,0,17.159-2.832,22.826-8.499c5.665-5.665,8.498-13.085,8.498-22.264
		c0-9.177-2.833-16.597-8.498-22.264c-5.667-5.665-13.274-8.499-22.826-8.499H32.729V93.131z"/>
	<path class="letter-ai" d="M133.067,200.167l69.392-198.2h33.431l66.302,198.2h-32.729l-13.485-42.562h-73.886l-14.188,42.562H133.067z
		 M191.502,128.81h54.923l-11.799-37.083l-15.171-50.288h-1.124l-14.749,48.321L191.502,128.81z"/>
	<path class="letter-ai" d="M331.856,200.167V1.967h32.729v198.2H331.856z"/>
	<path class="letter-g" d="M407.229,137.799V64.616c0-10.395,2.054-19.547,6.163-27.462c4.108-7.912,9.644-14.655,16.602-20.227
		c6.957-5.571,14.99-9.785,24.099-12.642C463.198,1.429,472.702,0,482.603,0c11.13,0,21.771,1.523,31.919,4.565
		c10.149,3.044,18.966,7.75,26.45,14.117l-16.084,25.565c-5.526-4.776-12.129-8.31-19.808-10.605
		c-7.68-2.293-15.079-3.441-22.196-3.441c-5.35,0-10.579,0.751-15.693,2.248c-5.114,1.499-9.688,3.887-13.722,7.164
		c-4.034,3.279-7.296,7.515-9.782,12.712c-2.487,5.197-3.729,11.402-3.729,18.612v60.121c0,7.304,1.148,13.555,3.448,18.752
		c2.298,5.197,5.417,9.436,9.358,12.712c3.94,3.279,8.42,5.667,13.441,7.164c5.02,1.499,10.109,2.248,15.271,2.248
		c4.034,0,8.795-0.608,14.284-1.826c5.486-1.216,11.095-4.025,16.818-8.428v-39.752h-30.341V93.131h63.07v82.033
		c-8.606,9.927-18.707,16.905-30.304,20.93c-11.598,4.027-22.773,6.04-33.528,6.04c-9.341,0-18.47-1.383-27.389-4.145
		c-8.92-2.76-16.856-6.882-23.814-12.36c-6.957-5.478-12.539-12.243-16.742-20.297C409.328,157.278,407.229,148.102,407.229,137.799
		z"/>
	<path class="letter-e" d="M578.874,200.167V1.967h134.288v29.639H611.604v54.361h86.949v29.639h-86.949v54.923h101.559v29.638H578.874z"/>
</svg>
