<svg viewBox="0 0 1081.753 1081.895" class="no-fill-fix">
	<defs>
        <linearGradient x1="18.7237194%" y1="20.5773999%" x2="75.722716%" y2="77.7554266%" id="linearGradient-1">
            <stop stop-color="#8821FF" offset="0%"></stop>
            <stop stop-color="#1085CF" offset="100%"></stop>
        </linearGradient>
    </defs>
    <g fill="url(#linearGradient-1)">
<circle fill="transparent" cx="305.734" cy="489.281" r="15.88"/>
<path d="M725.893,1049.081c94.24-36.64,158.33-87.38,199.42-139.18c0.05-0.04,0.08-0.08,0.1-0.12
	c63.01-79.51,71.88-161.51,52.49-198.91c-41.45-79.95-148.88-32.03-193.07-16.91c-28.73,9.83-55.59,22.69-78.62,30.57
	c-20.36,6.97-37.72,10.05-50.71,3.69c-25.41-12.44-24.6-30.02-26.43-45.91c-0.63-5.54-1.59-10.87-4.09-15.71
	c-9.66-18.71-32.48-4.3-41.89-22.01c-2.63-7.42-0.24-14.26,3.69-19.84c0.03-0.05,0.05-0.07,0.05-0.07c1.32-1.88,2.82-3.61,4.36-5.18
	c0.96-0.98,5.81-8.6-2.8-8.54c-9.73,0.06-22.62-0.77-33.45-4.63c-15.44-5.5-16.21-10.78-14.15-18.6c0.01-0.01,0.01-0.01,0.01-0.01
	c0.66-2.52,1.61-5.29,2.47-8.43c4.75-20.64-16.3-26.45-30.16-27.77c-13.86-1.31-29.7-3.06-35.42-17.84
	c-5.72-14.78,17.1-37.3,24.83-76.96c3.7-18.95,3.85-40.09,2.26-60.53c-2.88-36.78-11.43-71.29-15.25-86.7
	c-0.9-3.63-1.77-7.28-2.6-10.93c-5.64-24.71-9.57-49.72-10.25-72.76c0.3-0.28,0.6-0.56,0.9-0.85
	c65.63,75.69,171.74,132.37,349.97,171.27c171.14,37.35,273.06,149.31,209,361.28c-1.16,2.654-2.31,5.305-3.452,7.953
	c31.238-68.387,48.652-144.411,48.652-224.506C1081.753,242.19,839.562,0,540.805,0C277.314,0,57.828,188.389,9.681,437.821h44.213
	h44.02h44.03h52.75h34.35c101.47,0,124.62-11.18,152.65-36.72l63.3-61.68l3.29-3.21c0,0,21.12,55.42,7.6,107.41l-198.9,194.15
	l-34.02,33.2l-28.73-29.41l-28.76-29.43l14.01-13.67l109.1-106.48c0,0-1.32,0-3.63,0c-6.91,0-22.68,0-38.67,0c-11.22,0-22.55,0-31,0
	h-53.68c-100.71,0-179.24,76.94-135.47,215.07c2.36,7.29,4.86,14.56,7.54,21.81l-0.235,0.085c1.065,2.872,2.145,5.736,3.257,8.585
	c21.247,0,44.49,0,59.219,0c17.7,0,37.99,0,58.86,0c6.72,0,13.5,0,20.28,0c22.38,0.01,44.68,0.01,64.52,0.01c0.22,0,0.43,0,0.65,0
	c39.81,0,69.51,0,69.51,0l0.01,0.01c3.51,9.7,7.42,19.18,11.72,28.41c0,0-29.46,0-64.78,0c-21.79,0-45.81,0-66.51,0
	c-19.57,0-36.18,0-45.12,0c-57.064,0-77.474,44.558-29.245,109.682c99.059,125.612,252.609,206.252,424.997,206.252
	c57.225,0,112.371-8.895,164.14-25.362C711.947,1054.116,718.932,1051.618,725.893,1049.081z"/>
<circle class="circle-container" fill="none" cx="540.805" cy="540.805" r="540.805"/>
</g>
</svg>
