<div class="post-share">
	<i class="material-icons">share</i>
  <div class="post-share__title">Share</div>
  <a href="">Facebook</a>
  <a href="">Twitter</a>
  <a href="">LinkedIn</a>
  <a href="">Email</a>
</div>