<div class="post-snippet featured">
	{{#if data.date}}
		  <div class="post-snippet__date">{{ moment date "MMMM DD, YYYY" }}</div>
		{{/if}}
	<div class="grid-flex">
		
		{{#if data.thumbnail}}
			<div class="col-4">
				<img src="{{data.thumbnail}}">
			</div>
		{{else}}
			<hr>
		{{/if}}
		{{#if data.thumbnail}}
			<div class="col-8">
		{{/if}}
			{{#if data.title}}
				{{#if data.thumbnail}}
					<h3>{{ data.title }}</h3>
			  {{else}}
					<div class="col-4">
				  	<h3>{{ data.title }}</h3>
				  </div>
				{{/if}}
			{{/if}}
			{{#if data.snippet}}
				{{#if data.thumbnail }}
				{{else}} 
					<div class="col-8">
				{{/if}}
					<p>{{ data.snippet }}</p>
					
					<a class="button--gradient" href="{{#if data.link }}{{data.link}}{{else}}/posts/{{remove (basename this.key) ".hbs"}}{{/if}}"><span>Read More</span></a>
				{{#if data.thumbnail}}
				{{else}} 
					</div>
				{{/if}}
			{{/if}}
		{{#if data.thumbnail}}
			</div>
		{{/if}}
	</div>
</div>