<div class="post-snippet">
	{{#if data.thumbnail}}
		<img src="{{ site.root}}/{{data.thumbnail}}">
	{{else}}
		<hr>
	{{/if}}
	{{#if data.date}}
	  <div class="post-snippet__date">{{ moment date "MMMM DD, YYYY" }}</div>
	{{/if}}
	{{#if data.title}}
	  <h3>{{ data.title }}</h3>
	{{/if}}
	<p>{{ data.snippet }}</p>

	<a class="go-to-post" {{#if data.link }}href="{{data.link}}"{{else}}href="/posts/{{remove (basename this.key) ".hbs"}}" target="_blank"{{/if}}"><span>Go to Article</span> <i class="material-icons">arrow_forwards</i></a>
</div>