<div class="publication py-3">
	<div class="grid-flex break-xlg v-spaced">
		<div class="col-6">
			<div class="publication__title-authors">
				<div class="publication__title">{{ title }}</div>
				<div class="publication__authors">{{ by }}</div>
			</div>
		</div>
		<div class="col-6">
			<div class="grid-flex v-spaced">
				<div class="col-9">
					<div class="publication__description"><p>{{ description }}</p></div>
				</div>
			 	<div class="col-3">
					<div class="publication__links">
						<ul>
							{{#if pdf}}<li><a class="p" href="#">PDF</a></li>{{/if}}
							{{#if url}}<li><a class="p" href="#">URL</a></li>{{/if}}
							{{#if bibtex}}<li><a class="p" href="#">BibTex</a></li>{{/if}}
							{{#if endnote}}<li><a class="p" href="#">Endnote / RIS</a></li>{{/if}}
							{{#if abstract}}<li><a class="p" href="#">Abstract</a></li>{{/if}}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>