<div class="member-snippet">
	<div class="grid-flex tight-gutter middle">
		<div class="col-4">
			<div class="member-snippet__image">
				<img src="{{ data.image }}">
			</div>
		</div>
		<div class="col-8">
			<div class="member-snippet__name">{{ data.name }}</div>
			<div class="member-snippet__title">{{ data.job-title }}</div>
		</div>
	</div>
</div>