<div class="who-is-paige pattern-bg gradient-bg">
	<div class="container">
		<h2>Who is Paige?</h2>
		<p class="large">Learn about our technology and how Paige is revolutionizing the pathology industry</p>
		<a href="/about" class="button--white transition-link">About Paige</a>
	</div>
</div>