$stagger-time : .5s; //$slow-speed;
$stagger-delay : .05s;
$page-load-delay : .4s;

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes transition-in {
	100% {
		opacity: 1;
		visibility: visible;
		transform: none;
	}
}

@keyframes fade-in {
	100% {
		opacity: 1;
		visibility: visible;
	}
}
@keyframes fade-out {
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes no-transition {
	0%, 100% {
		opacity: 1;
	}
}

.transition-in {
	opacity: 0;
	animation: transition-in $slow-speed $ease forwards;	
}

.stagger-in-1 { animation: transition-in $stagger-time $stagger-delay * 0 + $page-load-delay $ease forwards; opacity: 0; transform: translate3d(0, 1.5rem, 0); }
.stagger-in-2 { animation: transition-in $stagger-time $stagger-delay * 1 + $page-load-delay $ease forwards; opacity: 0; transform: translate3d(0, 1.5rem, 0); }
.stagger-in-3 { animation: transition-in $stagger-time $stagger-delay * 2 + $page-load-delay $ease forwards; opacity: 0; transform: translate3d(0, 1.5rem, 0); }
.stagger-in-4 { animation: transition-in $stagger-time $stagger-delay * 3 + $page-load-delay $ease forwards; opacity: 0; transform: translate3d(0, 1.5rem, 0); }
.stagger-in-5 { animation: transition-in $stagger-time $stagger-delay * 4 + $page-load-delay $ease forwards; opacity: 0; transform: translate3d(0, 1.5rem, 0); }
.stagger-in-6 { animation: transition-in $stagger-time $stagger-delay * 5 + $page-load-delay $ease forwards; opacity: 0; transform: translate3d(0, 1.5rem, 0); }
.stagger-in-7 { animation: transition-in $stagger-time $stagger-delay * 6 + $page-load-delay $ease forwards; opacity: 0; transform: translate3d(0, 1.5rem, 0); }
.stagger-in-8 { animation: transition-in $stagger-time $stagger-delay * 7 + $page-load-delay $ease forwards; opacity: 0; transform: translate3d(0, 1.5rem, 0); }
.stagger-in-9 { animation: transition-in $stagger-time $stagger-delay * 8 + $page-load-delay $ease forwards; opacity: 0; transform: translate3d(0, 1.5rem, 0); }
.stagger-in-10 { animation: transition-in $stagger-time $stagger-delay * 9 + $page-load-delay $ease forwards; opacity: 0; transform: translate3d(0, 1.5rem, 0); }

.stagger-in-items {
	> * {
		opacity: 0;
		transform: translate3d(0, 3.5rem, 0);
		animation: transition-in $stagger-time ease forwards;
		animation-delay: $stagger-delay * 0 + $page-load-delay;
		&:nth-child(2) {
			animation-delay: $stagger-delay * 1 + $page-load-delay;
		}
		&:nth-child(3) {
			animation-delay: $stagger-delay * 2 + $page-load-delay;
		}
		&:nth-child(4) {
			animation-delay: $stagger-delay * 3 + $page-load-delay;
		}
		&:nth-child(5) {
			animation-delay: $stagger-delay * 4 + $page-load-delay;
		}
		&:nth-child(6) {
			animation-delay: $stagger-delay * 5 + $page-load-delay;
		}
		&:nth-child(7) {
			animation-delay: $stagger-delay * 6 + $page-load-delay;
		}
		&:nth-child(8) {
			animation-delay: $stagger-delay * 7 + $page-load-delay;
		}
		&:nth-child(9) {
			animation-delay: $stagger-delay * 8 + $page-load-delay;
		}
		&:nth-child(10) {
			animation-delay: $stagger-delay * 9 + $page-load-delay;
		}
		&:nth-child(11) {
			animation-delay: $stagger-delay * 10 + $page-load-delay;
		}
		&:nth-child(12) {
			animation-delay: $stagger-delay * 11 + $page-load-delay;
		}
		&:nth-child(13) {
			animation-delay: $stagger-delay * 12 + $page-load-delay;
		}
		&:nth-child(14) {
			animation-delay: $stagger-delay * 13 + $page-load-delay;
		}
		&:nth-child(15) {
			animation-delay: $stagger-delay * 14 + $page-load-delay;
		}
		&:nth-child(16) {
			animation-delay: $stagger-delay * 15 + $page-load-delay;
		}
		&:nth-child(17) {
			animation-delay: $stagger-delay * 16 + $page-load-delay;
		}
		&:nth-child(18) {
			animation-delay: $stagger-delay * 17 + $page-load-delay;
		}
		&:nth-child(19) {
			animation-delay: $stagger-delay * 18 + $page-load-delay;
		}
		&:nth-child(20) {
			animation-delay: $stagger-delay * 19 + $page-load-delay;
		}
	}
}

.scroll-transition-in {
	> * {
		opacity: 0;
		transform: translate3d(0, 2rem, 0);
		transition: opacity $slow-speed $ease, transform $slow-speed $ease;
		&:nth-child(2) {
			transition-delay: .05s;
		}
		&:nth-child(3) {
			transition-delay: .05s * 2;
		}
		&:nth-child(4) {
			transition-delay: .05s * 3;
		}
	}
	&.in-view {
		> * {
			transform: none;
			opacity: 1;
		}
	}
}