@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('/assets/fonts/PFDinDisplayPro-Thin.woff2') format('woff2'),
        url('/assets/fonts/PFDinDisplayPro-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinText Pro';
    src: url('/assets/fonts/PFDinTextPro-BoldItalic.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinText Cond Pro';
    src: url('/assets/fonts/PFDinTextCondPro-MediumItalic.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextCondPro-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinText Comp Pro';
    src: url('/assets/fonts/PFDinTextCompPro-LightItalic.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextCompPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinText Comp Pro';
    src: url('/assets/fonts/PFDinTextCompPro-MediumItalic.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextCompPro-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinText Cond Pro X';
    src: url('/assets/fonts/PFDinTextCondPro-XThinItalic.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextCondPro-XThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('/assets/fonts/PFDinDisplayPro-MediumItalic.woff2') format('woff2'),
        url('/assets/fonts/PFDinDisplayPro-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('/assets/fonts/PFDinDisplayPro-ThinItalic.woff2') format('woff2'),
        url('/assets/fonts/PFDinDisplayPro-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinText Pro ExtraThin';
    src: url('/assets/fonts/PFDinTextPro-ExtraThin.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextPro-ExtraThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinText Pro Extra';
    src: url('/assets/fonts/PFDinTextPro-ExtraBlack.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextPro-ExtraBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinDisplay Pro ExtraThin';
    src: url('/assets/fonts/PFDinDisplayPro-ExtraThin.woff2') format('woff2'),
        url('/assets/fonts/PFDinDisplayPro-ExtraThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinText Comp Pro';
    src: url('/assets/fonts/PFDinTextCompPro-Medium.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextCompPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinText Comp Pro';
    src: url('/assets/fonts/PFDinTextCompPro-Bold.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextCompPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinText Comp Pro';
    src: url('/assets/fonts/PFDinTextCompPro-Light.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextCompPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinText Pro ExtraThin';
    src: url('/assets/fonts/PFDinTextPro-ExtraThinItalic.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextPro-ExtraThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinText Cond Pro';
    src: url('/assets/fonts/PFDinTextCondPro-Thin.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextCondPro-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinText Pro';
    src: url('/assets/fonts/PFDinTextPro-LightItalic.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('/assets/fonts/PFDinDisplayPro-Regular.woff2') format('woff2'),
        url('/assets/fonts/PFDinDisplayPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('/assets/fonts/PFDinDisplayPro-BlackItalic.woff2') format('woff2'),
        url('/assets/fonts/PFDinDisplayPro-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinText Pro';
    src: url('/assets/fonts/PFDinTextPro-Light.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinText Cond Pro';
    src: url('/assets/fonts/PFDinTextCondPro-BoldItalic.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextCondPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinDisplay Pro ExtraThin';
    src: url('/assets/fonts/PFDinDisplayPro-ExtraThinItalic.woff2') format('woff2'),
        url('/assets/fonts/PFDinDisplayPro-ExtraThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('/assets/fonts/PFDinDisplayPro-BoldItalic.woff2') format('woff2'),
        url('/assets/fonts/PFDinDisplayPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('/assets/fonts/PFDinDisplayPro-Bold.woff2') format('woff2'),
        url('/assets/fonts/PFDinDisplayPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinText Comp Pro X';
    src: url('/assets/fonts/PFDinTextCompPro-XThinItalic.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextCompPro-XThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinText Cond Pro X';
    src: url('/assets/fonts/PFDinTextCondPro-XThin.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextCondPro-XThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinText Pro';
    src: url('/assets/fonts/PFDinTextPro-Italic.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinText Pro';
    src: url('/assets/fonts/PFDinTextPro-Regular.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('/assets/fonts/PFDinDisplayPro-Light.woff2') format('woff2'),
        url('/assets/fonts/PFDinDisplayPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinText Cond Pro';
    src: url('/assets/fonts/PFDinTextCondPro-Bold.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextCondPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinText Comp Pro XBlack';
    src: url('/assets/fonts/PFDinTextCompPro-XBlack.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextCompPro-XBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinText Cond Pro';
    src: url('/assets/fonts/PFDinTextCondPro-ThinItalic.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextCondPro-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('/assets/fonts/PFDinDisplayPro-Black.woff2') format('woff2'),
        url('/assets/fonts/PFDinDisplayPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinText Comp Pro';
    src: url('/assets/fonts/PFDinTextCompPro-BoldItalic.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextCompPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinText Cond Pro';
    src: url('/assets/fonts/PFDinTextCondPro-Regular.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextCondPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinText Cond Pro';
    src: url('/assets/fonts/PFDinTextCondPro-Light.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextCondPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinText Comp Pro';
    src: url('/assets/fonts/PFDinTextCompPro-Regular.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextCompPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinText Cond Pro XBlack';
    src: url('/assets/fonts/PFDinTextCondPro-XBlackItalic.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextCondPro-XBlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinText Comp Pro XBlack';
    src: url('/assets/fonts/PFDinTextCompPro-XBlackItalic.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextCompPro-XBlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinText Comp Pro X';
    src: url('/assets/fonts/PFDinTextCompPro-XThin.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextCompPro-XThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinText Pro';
    src: url('/assets/fonts/PFDinTextPro-Medium.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('/assets/fonts/PFDinDisplayPro-Italic.woff2') format('woff2'),
        url('/assets/fonts/PFDinDisplayPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinText Cond Pro XBlack';
    src: url('/assets/fonts/PFDinTextCondPro-XBlack.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextCondPro-XBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinText Comp Pro';
    src: url('/assets/fonts/PFDinTextCompPro-Italic.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextCompPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinText Pro Extra';
    src: url('/assets/fonts/PFDinTextPro-ExtraBlackItalic.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextPro-ExtraBlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinText Pro';
    src: url('/assets/fonts/PFDinTextPro-Thin.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextPro-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinText Cond Pro';
    src: url('/assets/fonts/PFDinTextCondPro-LightItalic.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextCondPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('/assets/fonts/PFDinDisplayPro-LightItalic.woff2') format('woff2'),
        url('/assets/fonts/PFDinDisplayPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinText Pro';
    src: url('/assets/fonts/PFDinTextPro-MediumItalic.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextPro-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinText Pro';
    src: url('/assets/fonts/PFDinTextPro-ThinItalic.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextPro-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinText Comp Pro';
    src: url('/assets/fonts/PFDinTextCompPro-Thin.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextCompPro-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinText Pro';
    src: url('/assets/fonts/PFDinTextPro-Bold.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinText Cond Pro';
    src: url('/assets/fonts/PFDinTextCondPro-Italic.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextCondPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('/assets/fonts/PFDinDisplayPro-Medium.woff2') format('woff2'),
        url('/assets/fonts/PFDinDisplayPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinText Comp Pro';
    src: url('/assets/fonts/PFDinTextCompPro-ThinItalic.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextCompPro-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'PF DinText Cond Pro';
    src: url('/assets/fonts/PFDinTextCondPro-Medium.woff2') format('woff2'),
        url('/assets/fonts/PFDinTextCondPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PFDin 4';
    src: url('/assets/fonts/PFDin-Regular4.woff2') format('woff2'),
        url('/assets/fonts/PFDin-Regular4.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PFDin-X';
    src: url('/assets/fonts/PFDinMono-XThinItalic.woff2') format('woff2'),
        url('/assets/fonts/PFDinMono-XThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'PFDin 9';
    src: url('/assets/fonts/PFDin-Regular9.woff2') format('woff2'),
        url('/assets/fonts/PFDin-Regular9.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDin';
    src: url('/assets/fonts/PFDinMono-Thin.woff2') format('woff2'),
        url('/assets/fonts/PFDinMono-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PFDin 3';
    src: url('/assets/fonts/PFDin-Regular3.woff2') format('woff2'),
        url('/assets/fonts/PFDin-Regular3.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PFDin 6';
    src: url('/assets/fonts/PFDinMono-ThinItalic.woff2') format('woff2'),
        url('/assets/fonts/PFDinMono-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'PFDin-X';
    src: url('/assets/fonts/PFDinMono-XThin.woff2') format('woff2'),
        url('/assets/fonts/PFDinMono-XThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PFDin 6';
    src: url('/assets/fonts/PFDin-Regular6.woff2') format('woff2'),
        url('/assets/fonts/PFDin-Regular6.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDin 2';
    src: url('/assets/fonts/PFDin-Regular2.woff2') format('woff2'),
        url('/assets/fonts/PFDin-Regular2.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PFDin 5';
    src: url('/assets/fonts/PFDin-Regular5.woff2') format('woff2'),
        url('/assets/fonts/PFDin-Regular5.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDin 8';
    src: url('/assets/fonts/PFDin-Regular8.woff2') format('woff2'),
        url('/assets/fonts/PFDin-Regular8.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFDin 7';
    src: url('/assets/fonts/PFDin-Regular7.woff2') format('woff2'),
        url('/assets/fonts/PFDin-Regular7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

