* {
	box-sizing-border: box;
	box-sizing: border-box;
	outline: none;
}

html,
body {
	background-color: $bg-color;
	overflow-x: hidden;
}

img,
video {
	max-width: 100%;
	height: auto;
	display: block;
}

svg:not(.no-fill-fix){
	color: currentcolor;
	* {
		transition: fill $md-speed $ease;
		fill: currentcolor;
	}
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
	transition: color $md-speed $ease, border $md-speed $ease, background $md-speed $ease, opacity $md-speed $ease;
	&:hover {
		color: inherit;
	}
	&.thumb {
		display: block;
		&:hover {
			opacity: .8;
		}
	}
}

.container {
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  width: $site-width;
  max-width: $max-site-width;
  &.narrow {
  	max-width: 35em;
  	h1,
  	.h1 {
  		max-width: 10em;
  		margin-left: auto;
  		margin-right: auto;
  	}
  }
  @include respond($lg) {
    width: calc(100% - #{$margin} * 2);
  }
}

.cover-area {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	img.cover,
	video.cover {
		// fallback for older browsers
		position: absolute;
    top: -9999px;
    right: -9999px;
    bottom: -9999px;
    left: -9999px;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    // that new shit
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

a {
	cursor: pointer;
}

.top-area {
	&.parallax {
		overflow: hidden;
	}
}

section {
	position: relative;
	.section-header {
		.container {
			text-align: center;
			padding: 2.5rem 0;
			@include respond($md) {
				padding: 4.5rem 0;
			}
			h1, h2, h3, h4, h5, h6 {
				margin: .5rem 0 0 0;
				font-weight: normal;
			}
		}
	}
	&.clipped-section {
		&.top-area {
			z-index: 9;
			.clip {
				display: block;
			}
		}
		a.underlined-link {
			&:hover {
				color: currentcolor;
			}
		}
		@include respond($lg) {
			z-index: 9;
		}
		.clip {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			clip: rect(0, auto, auto, 0);
			@include respond-smaller-than($lg) {
				display: none;
			}
		}
		.caption-container {
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
		}
	}
	&.full-height {
		height: 100vh;
	}
	&.three-quarters-height {
		height: 75vh;
	}
}

a.thumbnail {
	display: block;
}

.flex-center {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.flex-left-center {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	text-align: left;
}

.flex-right-center {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	text-align: right;
}

.flex-center-bottom {
	height: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	text-align: center;
}

.flex-left-bottom {
	height: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	text-align: left;
}

.flex-right-bottom {
	height: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	text-align: right;
}

// Grid Adjustment
.inline-grid {
	@include respond-smaller-than($md) {
		*[class^="col-"],
		.col {
			margin-bottom: $mobile-margin;
		}
	}
}

.lazy-wrap {
	position: relative;
	display: inline-block;
	vertical-align: top;
	background: $light-grey;
	width: 100%;
	img,
	video {
		position: relative;
		opacity: 0;
		transition: opacity .5s $ease;
		z-index: 1;
		display: block;
		width: 100%;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -12px 0 0 -1px;
		width: 2px;
		height: 24px;
		background: $light-text-color;
		animation: rotate 1s $ease infinite;
		z-index: 0;
		transition: opacity 0s 1s $ease;
	}
	&.lazyload {
	}
	&.lazyloaded {
		img, video {
			opacity: 1;
		}
		&:after {
			opacity: 0;
		}
	}
}

// Responsive Hiding
.hide-sm {
	@include respond-smaller-than($sm) {
		display: none;
	}
}
.hide-md {
	@include respond-smaller-than($md) {
		display: none;
	}
}
.hide-lg {
	@include respond-smaller-than($lg) {
		display: none;
	}
}
.hide-xlg {
	@include respond-smaller-than($xlg) {
		display: none;
	}
}
.hide-huge {
	@include respond-smaller-than($huge) {
		display: none;
	}
}

// Responsive Showing
.show-sm {
	@include respond($sm) {
		display: none;
	}
}
.show-md {
	@include respond($md) {
		display: none;
	}
}
.show-lg {
	@include respond($lg) {
		display: none;
	}
}
.show-xlg {
	@include respond($xlg) {
		display: none;
	}
}
.show-huge {
	@include respond($huge) {
		display: none;
	}
}
