// Media Queries
@mixin respond($breakpoint) {
  @media only screen and (min-width: $breakpoint + px) { @content; }
}

@mixin respond-smaller-than($breakpoint) {
  @media only screen and (max-width: $breakpoint + px) { @content; }
}
@mixin respond-min($breakpoint) {
  @media only screen and (min-width: #{$breakpoint + 1}px) { @content; }
}
@mixin respond-max($breakpoint) {
  @media only screen and (max-width: ($breakpoint) + px) { @content; }
}

// Greyscale/ Color
@mixin greyscale() {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
}

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

@mixin fullcolor() {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  filter: url(grayscale.svg); /* Firefox 4+ */
  filter: none; /* IE 6-9 */;
}

@mixin font-smooth() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin clearfix() {
  *zoom:1;
  &:before, 
  &:after {
    content: ""; 
    display: table; 
  }
  &:after {
    clear: both; 
  }
}

@mixin ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin all-caps () {
  text-transform: uppercase;
  font-family: $h6-font-family;
  letter-spacing: $tracked-out;
  font-size: $md-font-size;
  font-weight: $bold;
  line-height: 1.2em;
}

@mixin small-caps () {
  @include all-caps();
  font-size: $sm-font-size;
}

@mixin tiny-caps () {
  @include all-caps();
  font-size: $tiny-font-size;
  font-weight: $medium;
}

// Placeholders
@mixin placeholder($color) {
  &::-webkit-input-placeholder {
      color: $color;
  }
  &:-moz-placeholder { /* Firefox 18- */
      color: $color;
  }
  &::-moz-placeholder {  /* Firefox 19+ */
      color: $color;
  }
  &:-ms-input-placeholder {
      color: $color;
  }
}
@mixin placeholder-focus {
  &:focus::-webkit-input-placeholder {
      @content;
  }
  &:focus:-moz-placeholder { /* Firefox 18- */
      @content;
  }
  &:focus::-moz-placeholder {  /* Firefox 19+ */
      @content;
  }
  &:focus:-ms-input-placeholder {
      @content;
  }
}
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function em($pixels, $context: strip-unit($base-font-size)) {
  @return #{$pixels/$context}em;
}

@import './fluid-type';

// Transform
@mixin transform($transform){
  -ms-transform: $transform; /* IE 9 */
  -webkit-transform: $transform; /* Chrome, Safari, Opera */
  transform: $transform;
}
// Transition 
@mixin transition($transition: all .2s ease-in-out) {
  -webkit-transition: $transition;
  -moz-transition:    $transition;
  -o-transition:      $transition;
}