html,
body,
input,
textarea,
button {
	font-family: $main-font;
	line-height: $base-line-height;
	// font-size: calc(#{$base-font-size} - 2px);
	font-size: $base-font-size;
	color: $text-color;
	letter-spacing: $base-letter-spacing;
	@include font-smooth();
	@include respond($md) {
		font-size: $base-font-size;
	}
	@include respond($huge) {
		font-size: calc(#{$base-font-size} + 2px);
	}
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	// margin-top: .5rem;
	// margin-bottom: .5rem;
	@include font-smooth();
}

h1,
.h1,
.h1 p {
	font-family: $h1-font-family;
	text-transform: $h1-text-transform;
	font-size: $h1-font-size * .75;
	font-weight: $h1-font-weight;
	line-height: $h1-line-height;
	letter-spacing: $h1-letter-spacing;
	@include respond($md) {
		font-size: $h1-font-size;
	}
}

h2,
.h2,
.h2 p {
	font-family: $h2-font-family;
	text-transform: $h2-text-transform;
	font-size: $h2-font-size * .75;
	font-weight: $h2-font-weight;
	line-height: $h2-line-height;
	letter-spacing: $h2-letter-spacing;
	color: $dark-blue;
	margin-bottom: .625em;
	@include respond($lg) {
		font-size: $h2-font-size;
	}
}

h3,
.h3,
.h3 p {
	font-family: $h3-font-family;
	text-transform: $h3-text-transform;
	font-size: $h3-font-size;
	font-weight: $h3-font-weight;
	line-height: $h3-line-height;
	letter-spacing: $h3-letter-spacing;
}

h4,
.h4,
.h4 p {
	font-family: $h4-font-family;
	text-transform: $h4-text-transform;
	font-size: $h4-font-size;
	font-weight: $h4-font-weight;
	line-height: $h4-line-height;
	letter-spacing: $h4-letter-spacing;
}

h5,
.h5,
.h5 p {
	font-family: $h5-font-family;
	text-transform: $h5-text-transform;
	font-size: $h5-font-size;
	font-weight: $h5-font-weight;
	line-height: $h5-line-height;
	letter-spacing: $h5-letter-spacing;
}

h6,
.h6,
.h6 p {
	@include small-caps();
}

p,
.p {
	font-family: $main-font;
	font-size: $p-font-size;
	line-height: $base-line-height;
	letter-spacing: $p-letter-spacing;
	font-weight: $p-font-weight;
	text-transform: none;
	&.max-width,
	.max-width & {
		max-width: 32em;
	}
	&.tight-line-height {
		line-height: $tight-line-height;
	}
	&.short-line-height {
		line-height: $short-line-height;
	}
	&.no-spacing {
		margin: 0;
	}
	.icon {
		margin-top: -2px;
	}
	a {
		color: currentcolor;
		border-bottom: 1px solid transparent;
		line-height: 1em;
		padding-bottom: .1em;
		&:hover {
			color: $main-color;
			border-color: currentcolor;
		}
		&.hover-alert {
			&:hover {
				color: $alert !important;
				border-color: $alert !important;
			}
		}
		&.main-color {
			border-color: transparent;
			&:hover {
				color: $main-color;
				border-color: currentcolor;
			}
		}
	}
	.sm &,
	.small &,
	&.sm,
	&.small,
	&.caption {
		font-size: $sm-p-font-size;
		@include respond($huge) {
			font-size: 16px;
		}
		.material-icons.md-12 {
			margin-top: -1px 4px;
		}
	}
	&.caption {
		max-width: 30em;
		color: $light-text-color;
	}
	.tiny &,
	&.tiny {
		font-size: $tiny-font-size;
		.material-icons.md-12 {
			margin-top: -1px 4px;
		}
	}
	.lg &,
	.large &,
	&.lg,
	&.large {
		font-size: $lg-p-font-size;
		font-weight: $light;
		line-height: $short-line-height;
		letter-spacing: 0;
	}
	.xlg &,
	&.xlg {
		font-size: 1.5rem;
		font-weight: $light;
		line-height: $short-line-height;
		letter-spacing: 0;
		@include fluid-type(22px, 26px);
	}
	.md &,
	.medium &,
	&.md,
	&.medium {
		font-family: 'PF DinDisplay Pro';
		strong{
			font-weight: 500!important;
		}
		font-size: $md-p-font-size;
		font-weight: $normal;
		// line-height: $short-line-height;
		line-height: $base-line-height;
	}
	.light &,
	&.light-text-color {
		color: $light-text-color;
		a {
			color: inherit;
			&:hover {
				color: $main-color;
				border-color: currentcolor;
			}
		}
	}
	.material-icons {
		margin-top: -2px;
	}
}

ul,
ol {
	font-size: $p-font-size;
	line-height: $base-line-height;
	letter-spacing: $p-letter-spacing;
	counter-reset: list-counter;
	.sm > &,
	.small > &,
	&.sm,
	&.small {
		font-size: $sm-font-size;
		font-weight: $medium;
	}
}

ul {
	&.bulleted {
		li {
			position: relative;
			padding-left: 1.5rem;
			&:before {
				content: '•';
				position: absolute;
				left: 0;
				top: 0;
				width: 1.5rem;
				padding-left: .3rem;
			}
		}
	}
}

strong,
.bold,
b {
	font-weight: $bold !important;
}

em,
i,
.italic {
	font-style: italic;
}

.small-caps {
	@include small-caps();
}

.all-caps {
	@include all-caps();
}

.tiny-caps {
	@include tiny-caps();
}

.light-text-color {
	color: $light-text-color;
}

.text-color {
	color: $text-color;
}

.bg-color {
	color: $bg-color;
}

.main-color {
	color: $main-color;
}

.main-color-opacity {
	color: rgba($main-color, .6);
}

.success-color {
	color: $success;
}

.alert-color {
	color: $alert;
}

.notify-color {
	color: $notify;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.sm-font-size {
	font-size: $sm-font-size;
}

hr {
	border: none;
	border-top: $hr-styles;
	margin: $gutter 0;
	&.text-color {
		border-color: $text-color;
	}
	&.main-color {
		border-color: $main-color;
	}
	&.tight-spacing {
		margin: $gutter-tight 0;
	}
	&.no-space {
		margin: 0;
	}
	&.no-top-space {
		margin-top: 0;
	}
	&.no-bottom-space {
		margin-bottom: 0;
	}
	&.thick {
		border-width: 2px;
	}
	&.small,
	&.short {
		width: 2.5rem;
	}
}

::selection {
  background: $highlight-bg;
  color: $highlight-color;
}
::-moz-selection {
  background: $highlight-bg;
  color: $highlight-color;
}

.underlined-link {
	cursor: pointer;
	font-weight: $medium;
	border-bottom: 1px solid currentcolor;
	display: inline-block;
	cursor: pointer;
	padding-bottom: .25em;
	font-size: $p-font-size;
	@include small-caps();
	transition: opacity $md-speed $ease, color $md-speed $ease, border $md-speed $ease, background $md-speed $ease, transform $md-speed $ease;
}

.hover-underline {
	border-bottom: 1px solid transparent;
	&:hover {
		color: inherit;
		border-color: currentcolor;
	}
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	white-space: nowrap;
}

code,
.code {
	letter-spacing: 0;
  font-family: $code-font;
  font-size: $sm-font-size;
  line-height: $base-line-height;
}

.medium-weight {
	font-weight: $medium !important;
	@include font-smooth();
}