$margin: 5rem;
$mobile-margin: 6.5%;
$max-site-width: 1400px;
$site-width : 87%;

$max-text-width : 34rem;

// Global Spacing
$space-1 : .5rem;
$space-2 : 1rem;
$space-3 : 2rem;
$space-4 : 4rem;

// Grid Settings
$columns: 12;
$gutter: 2rem;
$gutter-tight: $space-2;
$gutter-wide: $gutter * 2;
$grid-gutter: $gutter;

// General UI Varibales
$base-border-radius : 0px;

// Colors
$dark-blue: #063D66;
$purple: #8A25FF;

$bg-color : #fff;
$main-color: $purple;
$black : #000;
$white : #fff;
$alert : #EF4F4F;
$notify : #FFD780;
$success : #77B305;
$text-color : rgba($dark-blue, .6);
$light-grey : #F7F9FA;
$light-text-color : rgba($text-color, .5);
$hr-color : rgba($text-color, 1);
$hr-styles : 1px solid $hr-color;


// Links
$link-color : $light-text-color;
$link-hover-color : $main-color;

// Typography
$main-font: 'PF DinText Pro', sans-serif;
$secondary-font: 'Circular', serif;
$code-font: 'Roboto Mono', monospace;
$base-line-height : 1.4em;
$base-letter-spacing : 0;
$short-line-height : 1.2em;
$tight-line-height : 1.1em;
$tracked-out : .125em;
	// General Text Sizes
	$base-font-size : 18px;
	$sm-font-size : 11px;
	$md-font-size : 1.3rem;
	$tiny-font-size : 10px;
	// Font Weights
	$normal : normal;
	$thin : $normal;
	$light : $normal;
	$medium : 500;
	$bold : 500;
	// h1
		$h1-font-family : $main-font;
		$h1-text-transform : none;
		$h1-font-size : 3.125rem;
		$h1-font-weight : $normal;
		$h1-line-height : $tight-line-height;
		$h1-letter-spacing : .02em;
	// h2
		$h2-font-family : 'PF DinDisplay Pro';
		$h2-text-transform : none;
		$h2-font-size : 2.6667rem;
		$h2-font-weight : 300;
		$h2-line-height : 1.3em;
		$h2-letter-spacing : .02em;
	// h3
		$h3-font-family : $main-font;
		$h3-text-transform : none;
		$h3-font-size : 1.75rem;
		$h3-font-weight : $normal;
		$h3-line-height : $short-line-height;
		$h3-letter-spacing : .015em;
	// h4
		$h4-font-family : $secondary-font;
		$h4-text-transform : none;
		$h4-font-size : 1.5rem;
		$h4-font-weight : $bold;
		$h4-line-height : $base-line-height;
		$h4-letter-spacing : .01em;
	// h5
		$h5-font-family : $secondary-font;
		$h5-text-transform : none;
		$h5-font-size : 1.25rem;
		$h5-font-weight : $bold;
		$h5-line-height : $base-line-height;
		$h5-letter-spacing : inherit;
	// h6 is tracked out all caps by default
		$h6-font-family : $secondary-font;
	// p
		$sm-p-font-size : 15px;
		$p-font-size : 1rem;
		$md-p-font-size : 1.125rem;
		$lg-p-font-size : 1.25rem;
		$p-font-weight : $normal;
		$p-line-height : $base-line-height;
		$p-letter-spacing : .01em;

// Text Highlights
$highlight-bg : rgba($purple, .15);
$highlight-color : darken($purple, 5%);

// Text Inputs
$input-font: $main-font;
$input-bg : $white;
$input-color : $text-color;
$input-border : none;
$input-border-radius : $base-border-radius;
$input-hover-bg : $input-bg;
$input-hover-color : $text-color;
$input-hover-border : none;
$input-focus-bg : $input-bg;
$input-focus-color : $text-color;
$input-focus-border : none;
$placeholder-color : rgba($text-color, .4);
$placeholder-focus-color : transparent;
$input-padding: .35em 14px 0px;
$input-line-height: 30px; // $btn-medium-height
$input-large-height: 60px;
$input-large-font-size: 1.25rem;
$input-small-height: 30px;
$input-small-font-size: .875rem;
$input-tiny-height: 24px;
$input-tiny-font-size: $input-small-font-size;

// Select Fields
$select-border : $input-border;
$select-bg : transparent;
$select-color : $light-text-color;

// Button Variables
$btn-radius: $base-border-radius;
$btn-padding: 0 1.5rem 1px;
$btn-text-transform: none;
$btn-letter-spacing: .02em;
$btn-weight: $medium;

// Button Sizes
$btn-height: 40px;
	$btn-small-height: 30px;
		$btn-tiny-height: 24px;
			$btn-large-height: 3.125rem;
$btn-font-size: 1rem;
	$btn-small-font-size: .875rem;
		$btn-tiny-font-size: $btn-small-font-size;
			$btn-large-font-size: $btn-font-size;

	// Default
	$btn-font: $main-font;
	$btn-bg: $main-color;
	$btn-border: none;
	$btn-color: $bg-color;
		$btn-hover-bg: darken($main-color, 7%);
		$btn-hover-border: none;
		$btn-hover-color: $bg-color;
	
	// Secondary
	$btn-secondary-bg: $text-color;
	$btn-secondary-border: none;
	$btn-secondary-color: $white;
		$btn-secondary-hover-bg: lighten($text-color, 10%);
		$btn-secondary-hover-border: none;
		$btn-secondary-hover-color: $white;

	// Tertiary
	$btn-tertiary-bg: lighten($text-color, 60%);
	$btn-tertiary-border: none;
	$btn-tertiary-color: lighten($text-color, 10%);
		$btn-tertiary-hover-bg: lighten($text-color, 65%);
		$btn-tertiary-hover-border: none;
		$btn-tertiary-hover-color: $text-color;

	// Alert
	$btn-alert-color: $bg-color;
	// Notify
	$btn-notify-color: $text-color;
	// success
	$btn-success-color: $bg-color;

// Tables
$vertical-cell-padding: .75rem;
$horizontal-cell-padding: .75rem;

// Tooltips
$nipple-size: 4px;
$tooltip-offset: 6px;
$tooltip-text-transform: none;
$tooltip-letter-spacing: .02em;
$tooltip-font-size: .75rem;
$tooltip-font-weight: $normal;
$tooltip-padding: 5px 8px;
$tooltip-height: 26px;

// Breakpoints
$sm : 450;
$md : 600;
$lg : 850;
$xlg : 1050;
$huge : 1500;

$tablet-landscape : 1024;
$tablet-portrait : 768;
$mobile : 640;

// Transitions
$fast-speed : .1s;
$slow-speed : .5s;
$md-speed : .2s;
$ease : ease-in-out;
