<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="canonical" href="{{site.root}}{{meta-url}}" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <!-- OPTIONAL
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    -->
    {{> social-meta }}
    {{> favicons }}
    {{> content_for_header }}
    <link rel="stylesheet" href="./assets/css/main.min.css">
    <title>{{title}}</title>
  </head>

  <body class="{{ body-class }} {{ hero-intensity }}{{#or hero-callout hero-image hero-intensity hero-title}} with-hero{{/or}}">
    <div class="animsition" data-module-init="page-transitions">
        {{> header }}
      <div id="page" class="{{ page_class }}">    
        <div id="content" >
          {% body %}        
        </div><!-- #content -->
      </div><!-- #page -->    
      {{> footer }}
    </div><!-- end .animsition -->
    
    {{> foot }}
    {{> page-loader }}
  </body>
</html>